<!--Redmi Mobiles-->
<div id="redmi">

    <h5>Mi Mobiles</h5><br><hr>
        <div class="container-fluid">
                <div class="row" align="center">
                        <div class="col-md-3"><div class="imgg">
                <a href=""><img src="assets/Phones/mi-redmi-note-7s.jpeg" alt="mi-redmi-note-7s"></a></div>
                        </div>
                        <div class="col-md-6" align="left">
                            <a routerLink="fashion"><h5>Redmi Note 7S(Sapphire Blue, 64GB)<br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                                <ul>
                                    <li>4GB RAM |64GB ROM | Expandable Upto 256 GB</li>
                                    <li>16.0 cm (6.3 inch) FHD+ Display</li>
                                    <li>48MP + 5MP + |13MP Front Camera</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 9,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>9,250</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div><hr><br>
        <div class="container-fluid">
                <div class="row" align="center">
                        <div class="col-md-3">
                <a href=""><img src="assets/Phones/mi-redmi-8a.jpeg" alt="mi-redmi-note-7s"></a>
                        </div>
                        <div class="col-md-6" align="left">
                            <a href=""><h5>Redmi 8A(Ocean Blue, 32GB)<br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                                <ul>
                                    <li>4GB RAM |64GB ROM | Expandable Upto 256 GB</li>
                                    <li>16.0 cm (6.3 inch) FHD+ Display</li>
                                    <li>48MP + 5MP + |13MP Front Camera</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 6,499</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>6,400</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div><hr><br>
        <div class="container-fluid">
                <div class="heart1"></div>
                <div class="row" align="center">
                        <div class="col-md-3">
                <a href=""><img src="assets/Phones/mi-redmi-note-7-pro.jpeg"  alt="mi-redmi-note-7s"></a>
                
            </div>
                        <div class="col-md-6" align="left">
                            <a href=""><h5 style="padding-left: 0px">Redmi Note 7 Pro(Nebula Red, 64GB)<br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                               <ul>
                                    <li>4GB RAM |64GB ROM | Expandable Upto 256 GB</li>
                                    <li>16.0 cm (6.3 inch) FHD+ Display</li>
                                    <li>48MP + 5MP + |13MP Front Camera</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 11,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>10,800</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div>
        
    </div>
        <!--Redmi Mobiles-->
        