<div class="card-header" >
        
    <h5>Showing results for Study-Table</h5>

</div>

<div class="container-fluid">





<div class="row">

   <div class="col-md-3">
       <br>
       <a href="#" class="ads">   <img src="/assets/img/furniture/1table1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >
           <br>
           
           
           <h6>HomeTown Vento Engineered Wood Study Table  </h6>
           <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
          <h5> ₹6,890</h5></a>
       </div>


   

   <div class="col-md-3">
       <br>
       <a href="#" class="ads">    <img src="/assets/img/furniture/1table2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
           <br>
           <h6>Bluewud Amalet Engineered Wood Study Table  </h6>
           <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹3,849</h5></a>
       </div>

       <div class="col-md-3">
           <br>
           <a href="#" class="ads">    <img src="/assets/img/furniture/1table3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                <br>
           <h6>Computer Table Engineered Wood Computer Desk  </h6>
           <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹4,190</h5></a>
           </div>


           <div class="col-md-3">
               <br>
               <a href="#" class="ads">     <img src="/assets/img/furniture/1table4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                <br>
               <h6>Crystal Furnitech Wood Computer Desk  </h6>
               <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
               <h5> ₹4,190</h5> </a>
               </div>

</div>




<div class="row">

    <div class="col-md-3">
        <br>
        <a href="#" class="ads">   <img src="/assets/img/furniture/1table1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >
            <br>
            
            
            <h6>HomeTown Vento Engineered Wood Study Table  </h6>
            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹6,890</h5></a>
        </div>
 
 
    
 
    <div class="col-md-3">
        <br>
        <a href="#" class="ads">    <img src="/assets/img/furniture/1table2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            <h6>Bluewud Amalet Engineered Wood Study Table  </h6>
            <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹3,849</h5></a>
        </div>
 
        <div class="col-md-3">
            <br>
            <a href="#" class="ads">    <img src="/assets/img/furniture/1table3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                 <br>
            <h6>Computer Table Engineered Wood Computer Desk  </h6>
            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹4,190</h5></a>
            </div>
 
 
            <div class="col-md-3">
                <br>
                <a href="#" class="ads">     <img src="/assets/img/furniture/1table4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                 <br>
                <h6>Crystal Furnitech Wood Computer Desk  </h6>
                <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
                <h5> ₹4,190</h5> </a>
                </div>
 
 </div>

</div>











