<div class="card-header">
    <h5>Men Accessories</h5>
</div>
    <div class="card-body">

<div class="row" id="content">
  <div class="col-md-3">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/k1zbssw0/shaving-razor/h/f/f/gear-5-blade-razor-with-contoured-rubber-handle-blue-1-ustraa-original-imafhfjgm7kwqzfh.jpeg?q=70" class="img-grid"></a>
    </div>
    <div class="flip-card-back">
        <img src="https://rukminim1.flixcart.com/image/416/416/jz1l7rk0/shaving-razor/z/b/q/ace-ii-2-blade-shaving-razor-for-men-1-razor-handle-20-original-imafj5esggpnhfhn.jpeg?q=70" class="img-grid">
      </div>
     </div>

      </div>
      <h5 class="pro_desc"><span class="text-muted">Ustraa</span>
        <div class="product-des">Ustraa Gear 5 Blade Razor with Rubber Handler</div>
       <span class="badge badge-pill badge-success">4.2</span>
       <span class="text-muted review-text">1120 reviews</span><br>
       <i class="fa fa-inr" aria-hidden="true"></i>
       400.00<span class="float-right price">10% discount</span>
      </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jgo0ccw0/sunglass/g/t/e/m-gn11096-gun-gd-brn-gansta-original-imaf4uwfman53wfw.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jgo0ccw0/sunglass/g/t/e/m-gn11096-gun-gd-brn-gansta-original-imaf4uwffhuxhnzg.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Gansta</span><br>
          <div class="product-des">Gansta UV Protection Sunglasses</div>
         <span class="badge badge-pill badge-success">4.9</span>
         <span class="text-muted review-text">3216 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         900.00<span class="float-right price">30% discount</span>
        </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/j79czgw0/wallet-card-wallet/2/b/n/swp15072-swp15072-wallet-hidelink-original-imaexj4zpmz646vj.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/j7m7y4w0/wallet-card-wallet/k/b/5/swp115072-swp115072-wallet-hidelink-original-imaevzy7ggc3gnkw.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">WildHorn</span><br>
          <div class="product-des">Men Casual, Formal Wallet</div>
         <span class="badge badge-pill badge-success">4.7</span>
         <span class="text-muted review-text">280 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         950.00<span class="float-right price">5% discount</span>
        </h5>         
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k0wqwsw0/belt/y/f/g/30-two-in-one-belt-black-and-brown-rstx-04-t-reversible-pu-original-imafkhr7st6sy85h.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jsge4cw0/belt/s/g/w/30-men-s-pu-leather-belt-combo-pack-of-2-tp-064-combo-belt-original-imafdzspgwuf5zhc.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">ZARA</span><br>
          <div class="product-des">Men Casual, Party Black Texas Leatherite Reversible Belt</div>
         <span class="badge badge-pill badge-success">4.3</span>
         <span class="text-muted review-text">180 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         350.00<span class="float-right price">50% discount</span>
        </h5>         
  </div>
</div>
</div>

