<div class="container-fluid">
        <div class="row">

                <div class="col-md-3">
                        <a class="ads"href="#">
                                    <br>
                        <img src="/assets/img/Groceries/3a.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >
                        <br>
                        <br>
                        <br><br>
                        <h6>Britannia Good Day Butter Cookies  (150 g</h6>
                        <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span><br>
                       <h4> ₹18</h4></a>
                    </div>
            
            
                
            
                <div class="col-md-3">
                        <a class="ads"href="#">
                                    <br>
                        <img src="/assets/img/Groceries/3b.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                        <br><br><br><br>
                        <h6>Sunfeast Dark Fantasy Choco Fills  (300 g)</h6>
                        <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                        <h4> ₹84</h4></a>
                    </div>
            
                    <div class="col-md-3">
                            <a class="ads"href="#">
                            <br><br><br>
                             <img src="/assets/img/Groceries/3c.jpeg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                             <br><br><br><br><br>
                        <h6>Oreo Original Chocolatey Sandwich Biscuits  (120 g)</h6>
                        <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                        <h4> ₹30</h4></a>
                        </div>
            
            
                        <div class="col-md-3">
                                <a class="ads"href="#">
                                <br>
                             <img src="/assets/img/Groceries/3d.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                             <br><br><br>
                            <h6>Parle Krack Jack Sweet and Salty Crackers  (400 g)</h6>
                            <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                            <h4> ₹48</h4></a>
                            </div>
            
            </div>
</div>    