<div class="card-header">
    <h6>Cosmetics</h6>
</div>
    <div class="card-body">

<div class="row" id="content">
  <div class="col-md-3">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jq4353k0/toner/6/9/f/120-bio-cucumber-pore-tightening-toner-biotique-original-imafc79rymdn3rfc.jpeg?q=70" class="img-grid"></a>
    </div>
    <div class="flip-card-back">
        <img src="https://rukminim1.flixcart.com/image/416/416/jq4353k0/toner/6/9/f/120-bio-cucumber-pore-tightening-toner-biotique-original-imafc79rf9gyqjvb.jpeg?q=70" class="img-grid">
      </div>
     </div>

      </div>
      <h5 class="pro_desc"><span class="text-muted">Biotic</span><br>
        <div class="product-des">Biotic Bio-Cucumber Toner</div>
       <span class="badge badge-pill badge-success">4.9</span>
       <span class="text-muted review-text">2120 reviews</span><br>
       <i class="fa fa-inr" aria-hidden="true"></i>
       120.00<span class="float-right price">5% discount</span>
      </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jl5h3m80/foundation/a/u/g/30-face-magic-souffle-lakme-original-imaf8cjfvzzs3ggn.jpeg?q=70" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/jvzkb680/foundation/a/u/g/30-face-magic-souffle-lakme-original-imafgrqanhtcmfmz.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Lakme</span><br>
          <div class="product-des">Lakme Face Magic Foundation</div>
         <span class="badge badge-pill badge-success">4.9</span>
         <span class="text-muted review-text">3216 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         500.00<span class="float-right price">30% discount</span>
        </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jsxjekw0/deodorant/5/g/q/300-fresh-power-charge-deodorant-body-spray-nivea-men-men-original-imafeemmcyznrhr9.jpeg?q=70" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/612/612/jsxjekw0/deodorant/5/g/q/300-fresh-power-charge-deodorant-body-spray-nivea-men-men-original-imafeemmcyznrhr9.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Nivea</span><br>
          <div class="product-des">Nivea Men Deodorant Spray</div>
         <span class="badge badge-pill badge-success">4.7</span>
         <span class="text-muted review-text">280 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         550.00<span class="float-right price">5% discount</span>
        </h5>         
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jr6o13k0/hair-treatment/x/v/e/100-hair-growth-vitalizer-ustraa-original-imafdfefujpfmr8x.jpeg?q=70" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/jialea80/hair-styling/f/j/n/cream-100-hair-cream-for-men-daily-use-ustraa-original-imaf649mqgtc74vc.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Ustra</span><br>
          <div class="product-des">Ustra Hair Growth Serum</div>
         <span class="badge badge-pill badge-success">4.3</span>
         <span class="text-muted review-text">112 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         650.00<span class="float-right price">10% discount</span>
        </h5>         
  </div>
</div>
</div>


