

<!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
      <div class="container">
  
        <div class="logo float-left">
       <h1><b>Bank Admin</b></h1>
        </div>
  
        <nav class="main-nav float-right ">
          <ul>
            <li class="active"><a href="#intro">Home</a></li>
            <li class=" pointer"><a (click)="banklogout()">Logout</a></li>
          </ul>
        </nav><!-- .main-nav -->
        
      </div>
    </header><!-- #header -->
  
<section id="intro" class="clearfix">
      <div class="container">
    
         <div class="intro-img">
          <img src="../assets/img/intro-img.svg" alt="" class="img-fluid">
        </div> 
    
        <div class="intro-info">
         
             <h2> Welcome to Multibanking System</h2>
          
        </div>
    
      </div>
    </section><!-- #intro -->

      <!--==========================
      Employee Section
    ============================-->
    <section id="services" class="section-bg">
            <div class="container">
      
              <header class="section-header">
                
                <h3><b class="transform">{{currentBankUser.bankName}} Bank</b></h3> 
                <h3>Welcome <b>{{currentBankUser.firstName}} {{currentBankUser.lastName}} </b>  </h3>
              </header>
                
      <br>
              <div class="row">
      
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a [routerLink]="['/user-details']">Customers </a></h4>
                    <p class="description">This will display your bank customer details</p>
                  </div>
                </div>
               <!-- <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="../Display">Transactions</a></h4>
                    <p class="description">Track transactions of the Customers</p>
                  </div>
                </div> -->
      
               <!--<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="../RaiseSalary"></a></h4>
                    <p class="description">Raise the salary for employee</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Exit</a></h4>
                    <p class="description">It will terminate the application</p>
                  </div>
                </div> -->
      
              </div>
      
            </div>