.data{
    padding: 10px;
    border-radius: solid 1px black;
}
.data:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bankname{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color:darkblue
}
.bold{
    font-weight: bolder;
}