
<div class="card-header" >
        
    <h5>Showing results for Office-Chair</h5>

</div>

<div class="container-fluid">
  
    

<div class="row">

       <div class="col-md-3">
           <br>
           <a href="#" class="ads">    <img src="/assets/img/furniture/1chair1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
               <br>
               
               
               <h6>Flipkart Perfect Homes Howard Fabric Office Executive Chair  </h6>
               
               <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
              <h5> ₹3,790</h5></a>
           </div>
   
   
       
   
       <div class="col-md-3">
           <br>
           <a href="#" class="ads">      <img src="/assets/img/furniture/1chair2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
               <br>
               <h6>DZYN Furnitures Leatherette Office Executive Chair  </h6>
               <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
               <h5> ₹3,990</h5></a>
           </div>
   
           <div class="col-md-3">
               <br>
               <a href="#" class="ads">        <img src="/assets/img/furniture/1chair5.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" >
                    <br>
               <h6>DZYN Furnitures Linen Office Executive Chair  </h6>
               <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span><br>
               <h5> ₹4,590</h5> </a>
               </div>
   
   
               <div class="col-md-3">
                   <br>
                   <a href="#" class="ads">     <img src="/assets/img/furniture/1chair4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >
                    <br>
                   <h6>Flipkart Perfect Homes Rex Fabric Office Executive Chair  </h6>
                   <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                   <h5> ₹3,390</h5> </a>
                   </div>
   
   </div>


   
<div class="row">

    <div class="col-md-3">
        <br>
        <a href="#" class="ads">    <img src="/assets/img/furniture/1chair1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            
            
            <h6>Flipkart Perfect Homes Howard Fabric Office Executive Chair  </h6>
            
            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹3,790</h5></a>
        </div>


    

    <div class="col-md-3">
        <br>
        <a href="#" class="ads">      <img src="/assets/img/furniture/1chair2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            <h6>DZYN Furnitures Leatherette Office Executive Chair  </h6>
            <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹3,990</h5></a>
        </div>

        <div class="col-md-3">
            <br>
            <a href="#" class="ads">        <img src="/assets/img/furniture/1chair5.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" >
                 <br>
            <h6>DZYN Furnitures Linen Office Executive Chair  </h6>
            <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹4,590</h5> </a>
            </div>


            <div class="col-md-3">
                <br>
                <a href="#" class="ads">     <img src="/assets/img/furniture/1chair4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >
                 <br>
                <h6>Flipkart Perfect Homes Rex Fabric Office Executive Chair  </h6>
                <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                <h5> ₹3,390</h5> </a>
                </div>

</div>


</div>
