<div class="container-fluid">
        <div class="row">

                <div class="col-md-3">
                        <a class="ads"href="#">
                                <br>
                        <img src="/assets/img/Groceries/2a.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >
                        <br>
                        <br>
                        
                        <h6>Clinic Plus Strong & Long Health Shampoo  (650 ml)</h6>
                        <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                       <h4> ₹192</h4></a>
                    </div>
            
            
                
            
                <div class="col-md-3">
                        <a class="ads"href="#">
                                        <br>
                        <img src="/assets/img/Groceries/2b.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                        <br><br>
                        <h6>Dove Hair Fall Rescue Shampoo  (340 ml)</h6>
                        <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span><br>
                        <h4> ₹172</h4></a>
                    </div>
            
                    <div class="col-md-3">
                            <a class="ads"href="#">
                                        <br>
                             <img src="/assets/img/Groceries/2c.jpeg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                             <br><br>
                        <h6>Sunsilk Stunning Black Shine Shampoo  (340 ml)</h6>
                        <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                        <h4> ₹170</h4></a>
                        </div>
            
            
                        <div class="col-md-3">
                                <a class="ads"href="#">
                                                <br>
                             <img src="/assets/img/Groceries/2d.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                             <br><br>
                            <h6>Patanjali Kesh Kanti Shikakai Hair Cleanser  (200 ml)</h6>
                            <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                            <h4> ₹95</h4></a>
                            </div>
            
            </div>
            </div>
