<div class="card-header">
    <h5>Women Footwear</h5>
</div>
    <div class="card-body">
    
    <div class="row" id="content">
      <div class="col-md-3">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
          <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jtaed8w0/sandal/a/c/a/ans05-ans08-sndl-001-4-beonza-multicolor-original-imafe945asvzyhap.jpeg?q=50" class="img-grid"></a>
        </div>
        <div class="flip-card-back">
            <img src="https://rukminim1.flixcart.com/image/800/960/jtaed8w0/sandal/a/c/a/ans05-ans08-sndl-001-4-beonza-multicolor-original-imafdvwpdgf3mceq.jpeg?q=50" class="img-grid">
          </div>
         </div>

          </div>
          <h5 class="pro_desc"><span class="text-muted">Beonza</span><br>
            <div class="product-des">Beonza Combination Footwear</div>
           <span class="badge badge-pill badge-success">4.2</span>
           <span class="text-muted review-text">1120 reviews</span><br>
           <i class="fa fa-inr" aria-hidden="true"></i>
           800.00<span class="float-right price">10% discount</span>
          </h5>
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/j6v2ky80/sandal/h/g/3/w8-35-jade-beige-original-imaetg6ducqtpwbr.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/j6v2ky80/sandal/h/g/3/w8-35-jade-beige-original-imaetg6dd6bxawsh.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">JADE</span><br>
              <div class="product-des">Women BeiZe Heel Sandle</div>
             <span class="badge badge-pill badge-success">4.9</span>
             <span class="text-muted review-text">3216 reviews</span><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             600.00<span class="float-right price">30% discount</span>
            </h5>
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jy65j0w0/shoe/n/z/a/370791-5-puma-sweet-lavender-black-original-imafggu4fmwgfzuz.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jy65j0w0/shoe/n/z/a/370791-5-puma-sweet-lavender-black-original-imafggu4gq6mab2a.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Puma</span><br>
              <div class="product-des">Puma Zod Runner Sports Shoe</div>
             <span class="badge badge-pill badge-success">4.7</span>
             <span class="text-muted review-text">2805 reviews</span><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             1770.00<span class="float-right price">15% discount</span>
            </h5>         
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jx3kn0w0/sandal/v/u/g/bt-1011-brwn-36-shoenstring-brown-original-imafebzt8yhqhrgd.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jx3kn0w0/sandal/v/u/g/bt-1011-brwn-39-shoenstring-brown-original-imafebztb86jczqy.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Bootco</span><br>
              <div class="product-des">Women Brown Flat</div>
             <span class="badge badge-pill badge-success">4.3</span>
             <span class="text-muted review">112 reviews</span><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             450.00<span class="float-right price">10% discount</span>
            </h5>         
      </div>
    </div>
    </div>

