
    <div class="container-fluid">

<div class="row">  
        <div class="col-md-3">
                <br>
                <a class="ads"href="#">
            <div class="one">  <img src="/assets/img/Groceries/1a.jpeg" class="row1-photo img-thumbnail img-fluid" alt="No image" ></div>  
                <br>
                
                
                <h6>Dettol Original Liquid Hand Wash Refill with Instant Sanitizer</h6>
                <br>
                <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
               <h4>₹99</h4>
            </a>
            </div>
    

    <div class="col-md-3">
            <br>
            <a class="ads"href="#">
                <div class="one">     <img src="/assets/img/Groceries/1b.jpeg" class="row1-photo img-thumbnail img-fluid" id="img2" alt="No image" > </div>  
            <br>
            <h6>Santoor Sandal & Turmeric Soap  (8 x 125 g)</h6>
            <br>
            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹210</h4></a>
        </div>

        <div class="col-md-3">
                <br>
                <a class="ads"href="#">
                        <div class="one">       <img src="/assets/img/Groceries/1c.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > </div>  
                 <br>
            <h6>Hamam Neem Tulsi and Aloevera Soap  (3 x 150 g)</h6>
            <br>
            <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹110</h4></a>
            </div>


            <div class="col-md-3">
                    <br>
                    <a class="ads"href="#">
                        <div class="one">     <img src="/assets/img/Groceries/1d.jpeg" class="row1-photo img-thumbnail img-fluid" id="img4" alt="No image" > </div>  
                 <br>
                <h6>Cinthol Lime Soap  (75g Cinthol Soap Free)  (3 x 125 g)</h6>
                <br>
                <span class="badge badge-pill badge-success"> 3.5 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹94</h4></a>
                </div>

</div>


    
  












