
<h3>Cycles</h3><hr>

<div class="row">
    <div class="col-md-3" >
         <a href="#" class="ads">      <img src="/assets/img/sports/cy777.jpeg" class="row1-photo img-fluid " alt="No image" > 
             <br>
             <br>
             
             <h6>OMO Model 1.0 26 T Hybrid Cycle/City Bike   </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹7000</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/cy1.jpeg" class="row1-photo img-fluid " alt="No image" > 
             <br>
             <br>
             
             <h6>Hercules Street Cat Pro  </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹4590</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/cy2.jpeg" class="row1-photo img-fluid " alt="No image" > 
             <br>
             <br>
             
             <h6>Mustang Road Pulse Bike For Adults Black Green 26 T Mountain Cycle  </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹1399</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/cy5.jpeg" class="row1-photo img-fluid " alt="No image"  > 
             <br>
             <br>
             
             <h6>
                    Mustang Road Pulse Bike For Adults Black Red 26 T Mountain Cycle 
                      </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹1999</h4></a>


    </div>





    </div>