<div class="card-header">
    <h5>Kids Clothing</h5>
</div>
    <div class="card-body">

<div class="row" id="content">
  <div class="col-md-3">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/j51cbrk0/kids-dress/k/u/c/0-6-months-c-204-black-black-aarika-original-imaecyhfed9qbzmh.jpeg?q=50" class="img-grid"></a>
    </div>
    <div class="flip-card-back">
        <img src="https://rukminim1.flixcart.com/image/800/960/j51cbrk0/kids-dress/k/u/c/0-6-months-c-204-black-black-aarika-original-imaecyhea3pmjfyt.jpeg?q=50" class="img-grid">
      </div>
     </div>

      </div>
      <h5 class="pro_desc"><span class="text-muted">Filla</span><br>
        <div class="product-des">Girls Midi Frock</div>
       <span class="badge badge-pill badge-success">4.2</span>
       <span class="text-muted review-text">1120 reviews</span><br>
       <i class="fa fa-inr" aria-hidden="true"></i>
      1200.00<span class="float-right price">10% discount</span>
      </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jxp08sw0/bodysuit-sleepsuit/9/v/7/0-3-6-9-months-unisex-kids-cotton-tinchuk-n-a-original-imafhf6fgqe9bzw6.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/jxp08sw0/bodysuit-sleepsuit/9/f/e/n-a-3-6-months-unisex-kids-cotton-multi-color-romper-body-suite-original-imafg2awsdgtvyph.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Sevnix</span><br>
          <div class="product-des">Kids Body Suits</div>
         <span class="badge badge-pill badge-success">4.0</span>
         <span class="text-muted review-text">390 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         450.00<span class="float-right price">15% discount</span>
        </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k12go7k0/bodysuit-sleepsuit/h/g/z/6-6-12-months-44400838400-gap-12-original-imafkhzerb4byhqx.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/495/594/k12go7k0/kids-t-shirt/z/z/h/8-9-years-mcgbaw19tp015b-barbie-original-imafkq7jsrgvdvrg.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Nitara</span><br>
          <div class="product-des">Girls Denim Top</div>
         <span class="badge badge-pill badge-success">4.7</span>
         <span class="text-muted review-text">280 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         550.00<span class="float-right price">5% discount</span>
        </h5>         
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jm0wscw0/bodysuit-sleepsuit/8/y/r/18-12-18-months-inf-5pck-bdyst-mnd-1-gkidz-12-original-imaf7jpqvdtezcha.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/jm0wscw0/bodysuit-sleepsuit/8/y/r/18-12-18-months-inf-5pck-bdyst-mnd-1-gkidz-12-original-imae5hzt43atbhqt.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">SBN BLUE</span><br>
          <div class="product-des">Combination Baby Body Suit</div>
         <span class="badge badge-pill badge-success">4.1</span>
         <span class="text-muted review-text">788 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         950.00<span class="float-right price">15% discount</span>
        </h5>         
  </div>
</div>
</div>


