<div class="card">
        <section>  
                <div class="container">
                        <div class="row">
                <div class="col-md-12">
                    <div class="head" >My WishList</div>
                </div>  </div></div>
            </section>
            <section style="margin-top: 2rem;">
                    <div class="container">
                            <div class="row">
                <div class=col-md-4  >
                        <div class="header"class="item" >
                                <img  class="img"src="../assets/img/phone.jpg" class="card-img-top" alt="...">
                            </div>
                            </div>
                            <div class=col-md-8 >
                                <div   style="width: 30rem;background-color: white;margin-left: -10rem;">
                                    <h3>Samsung Galaxy Note11</h3>
                                    <p style="font-size: 2rem"><i class="fa fa-inr" aria-hidden="true">27,999</i></p>
                                    <span class="badge badge-pill badge-info"style="background-color:grey;height:2rem;"><h4>3.4</h4></span><br><br>

                                    <a href="#" style="background-color: #3f93e8;"  class="btn btn-info btn-lg">
                                            <i class="fa fa-cart-plus"aria-hidden="true">   Add To Cart</i>
                                          </a>
                                          <a routerLink="cart" style="background-color: #3f93e8;margin-left:3rem;" class="btn btn-info btn-lg">
                                                <i class="fa fa-plus" aria-hidden="true"> Buy</i>
                                              </a>
                            </div>
                        </div>
                        </div>
                   </div>
                </section> 
                <section style="margin-top: 6rem;">
                        <div class="container">
                                <div class="row">
                    <div class=col-md-4  >
                            <div class="header"class="item" >
                                    <img  class="img"src="../assets/img/books.jpg" class="card-img-top" alt="...">
                                </div>
                                </div>
                                <div class=col-md-8 >
                                    <div   style="width: 30rem;background-color:white;margin-left: -10rem;">
                                        <h3>The Miracles of Your Mind</h3>
                                        <p style="font-size: 2rem"><i class="fa fa-inr" aria-hidden="true">196</i></p>
                                        <span class="badge badge-pill badge-info"style="background-color:grey;height:2rem;"><h4>2.8</h4></span><br><br>
    
                                        <a href="#" style="background-color: #3f93e8;"  class="btn btn-info btn-lg">
                                                <i class="fa fa-cart-plus"aria-hidden="true">   Add To Cart</i>
                                              </a>
                                              <a href="#" style="background-color: #3f93e8;margin-left:3rem;" class="btn btn-info btn-lg">
                                                    <i class="fa fa-plus" aria-hidden="true"> Buy</i>
                                                  </a>
                                </div>
                            </div>
                            </div>
                       </div>
                    </section> 
                </div>         
    

                
                
                
                
                
                
                 






