
    <div class="card-header">
        <h5>Women Accessories</h5>
     </div>
         <div class="card-body">
 
 <div class="row" id="content">
   <div class="col-md-3">
       <div align="center" class="flip-card">
           <div class="flip-card-inner">
               <div class="flip-card-front">
       <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jewellery-set/h/c/g/zpfk4011-zaveri-original-imaehgkr248ynxtr.jpeg?q=50" class="img-grid"></a>
     </div>
     <div class="flip-card-back">
         <img src="https://rukminim1.flixcart.com/image/800/960/jewellery-set/k/j/8/zpfk2656-zaveri-pearls-original-imaehgkrscuyba9w.jpeg?q=50" class="img-grid">
       </div>
      </div>

       </div>
       <h5 class="pro_desc"><span class="text-muted">Zaveri Pearls</span><br>
         <div class="product-des">Zinc Jwell Set</div>
        <span class="badge badge-pill badge-success">4.2</span>
        <span class="text-muted review-text">1302 reviews</span><br>
        <i class="fa fa-inr" aria-hidden="true"></i>
        1200.00<span class="float-right price">20% discount</span>
       </h5>
   </div>
   <div class="col-md-3 offet-md-1">
       <div align="center" class="flip-card">
           <div class="flip-card-inner">
               <div class="flip-card-front">
         <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jvmpci80/hand-messenger-bag/g/y/y/0-st-004-hand-held-bag-shining-star-original-imafg25y8kfzwc49.jpeg?q=50" class="img-grid"></a>
       </div>
       <div class="flip-card-back">
           <img src="https://rukminim1.flixcart.com/image/800/960/jvmpci80/hand-messenger-bag/g/y/y/0-st-004-hand-held-bag-shining-star-original-imafg25fe3ztwkhd.jpeg?q=50" class="img-grid">
         </div>
        </div>

         </div>
         <h5 class="pro_desc"><span class="text-muted">Shining Star</span><br>
           <div class="product-des">Women Blue Handheld Bag</div>
          <span class="badge badge-pill badge-success">3.8</span>
          <span class="text-muted review-text">330 reviews</span><br>
          <i class="fa fa-inr" aria-hidden="true"></i>
          620.00<span class="float-right price">10% discount</span>
         </h5>
   </div>
   <div class="col-md-3 offet-md-1">
       <div align="center" class="flip-card">
           <div class="flip-card-inner">
               <div class="flip-card-front">
         <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jmthle80/hair-dryer/y/t/e/havells-compact-hair-dryer-hd3151-original-imaeq2z9by7qbfqe.jpeg?q=70" class="img-grid"></a>
       </div>
       <div class="flip-card-back">
           <img src="https://rukminim1.flixcart.com/image/416/416/jmthle80/hair-dryer/y/t/e/havells-compact-hair-dryer-hd3151-original-imaf9d87nfxqhgf8.jpeg?q=70" class="img-grid">
         </div>
        </div>

         </div>
         <h5 class="pro_desc"><span class="text-muted">Phillips</span><br>
           <div class="product-des">Compact Hair Dryer</div>
          <span class="badge badge-pill badge-success">4.4</span>
          <span class="text-muted review-text">5430 reviews</span><br>
          <i class="fa fa-inr" aria-hidden="true"></i>
          850.00<span class="float-right price">30% discount</span>
         </h5>         
   </div>
   <div class="col-md-3 offet-md-1">
       <div align="center" class="flip-card">
           <div class="flip-card-inner">
               <div class="flip-card-front">
         <a href="#">
         <img src="https://rukminim1.flixcart.com/image/495/594/k01b8280/belt/e/p/4/26-ben11lightgrey-ben11lightgrey-belt-winsome-deal-original-imafhthm4hebyxyx.jpeg?q=50" class="img-grid"></a>
       </div>
       <div class="flip-card-back">
           <img src="https://rukminim1.flixcart.com/image/800/960/k01b8280/belt/e/p/4/26-ben11lightgrey-ben11lightgrey-belt-winsome-deal-original-imafhthmyrbfst42.jpeg?q=50" class="img-grid">
         </div>
        </div>

         </div>
         <h5 class="pro_desc"><span class="text-muted">Winsome Deal</span><br>
           <div class="product-des">Women Casual Grey Belt</div>
          <span class="badge badge-pill badge-success">3.2</span>
          <span class="text-muted review-text">197 reviews</span><br>
          <i class="fa fa-inr" aria-hidden="true"></i>
          290.00<span class="float-right price">5% discount</span>
         </h5>         
   </div>
 </div>
</div>


