
    
                         <div class="card" id="one" >
                                 <div class="card-header">
                                  <a class="left-head"><b>Furniture</b></a>&nbsp;
                                  <small>(filter)</small>
                                 </div>
                                 <ul class="list-group list-group-flush">
                                       <li class="list-group-item">
                                       <div>
                                             <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                              Table
                                             </div>
                                           
                                             <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                               <a  routerLink="dining-table" class="list-group-item">Dining Table</a>
                                               <a  routerLink="study-table" class="list-group-item">Study Table</a>
                                              
                                             </div>
                                           </div>
                                         </li> 
                                   <li class="list-group-item">
                                         <div>
                                                 <div role="button" id="dropdownMenuLink1" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                                  Bed
                                                 </div>
                                               
                                                 <div class="collapse" aria-labelledby="dropdownMenuLink1" id="collapseExample">
                                                   <a  routerLink="single-bed" class="list-group-item">Single Bed</a>
                                                   <a  routerLink="double-bed" class="list-group-item">Double Bed</a>
                                                   
                                                 </div>
                                               </div>
                                   </li>
                                   <li class="list-group-item">
                                         <div>
                                                 <div role="button" id="dropdownMenuLink2" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                                  Chair
                                                 </div>
                                               
                                                 <div class="collapse" aria-labelledby="dropdownMenuLink2" id="collapseExample">
                                                   <a  routerLink="office-chair" class="list-group-item">Office Chair</a>
                                                   <a  routerLink="home-chair" class="list-group-item">Home Chair</a>
                                                  
                                                 </div>
                                               </div>
                                   </li>
                                 </ul>
                               </div>
                 





<div class="card" >

    

    <router-outlet></router-outlet>
</div>


