
<h3>Cycling Accessories</h3><hr>
<div class="row">
    <div class="col-md-3" >
         <a href="#" class="ads">      <img src="/assets/img/sports/ca1.jpeg" class="row1-photo img-fluid day "  alt="No image" > 
             <br>
             <br>
             
             <h6>4 Digit Code Combination Lock </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹499</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/ca2.jpeg" class="row1-photo img-fluid day "  alt="No image" > 
             <br>
             <br>
             
             <h6>Wheel Light </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹699</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/ca3.jpeg" class="row1-photo img-fluid "  alt="No image" > 
             <br>
             <br>
             
             <h6>Riding Gloves  </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹1399</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/ca4.jpeg" class="row1-photo img-fluid "  alt="No image"  > 
             <br>
             <br>
             
             <h6>
                   LED Light Horn
                      </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹2799</h4></a>
    </div>
    </div>

<hr>
    <div class="row">
        <div class="col-md-3" >
             <a href="#" class="ads">      <img src="/assets/img/sports/ca1.jpeg" class="row1-photo img-fluid day "  alt="No image" > 
                 <br>
                 <br>
                 
                 <h6>4 Digit Code Combination Lock </h6>
                 
                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹499</h4></a>
    
    
        </div>
        <div class="col-md-3">
             <a href="#" class="ads">      <img src="/assets/img/sports/ca2.jpeg" class="row1-photo img-fluid day "  alt="No image" > 
                 <br>
                 <br>
                 
                 <h6>Wheel Light </h6>
                 
                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹699</h4></a>
    
    
        </div>
        <div class="col-md-3">
             <a href="#" class="ads">      <img src="/assets/img/sports/ca3.jpeg" class="row1-photo img-fluid "  alt="No image" > 
                 <br>
                 <br>
                 
                 <h6>Riding Gloves  </h6>
                 
                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹1399</h4></a>
    
    
        </div>
        <div class="col-md-3">
             <a href="#" class="ads">      <img src="/assets/img/sports/ca4.jpeg" class="row1-photo img-fluid "  alt="No image"  > 
                 <br>
                 <br>
                 
                 <h6>
                       LED Light Horn
                          </h6>
                 
                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹2799</h4></a>
    
    
        </div>
        </div>
    
