<div class="card-header">
    <h5>Men Clothing</h5>
</div>
    <div class="card-body">

<div class="row" id="content">
  <div class="col-md-3">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k02qnww0/t-shirt/t/r/n/m-582425-puma-original-imafjy3a5sw25tuu.jpeg?q=50" class="img-grid"></a>
    </div>
    <div class="flip-card-back">
        <img src="https://rukminim1.flixcart.com/image/800/960/k02qnww0/t-shirt/t/r/n/m-582425-puma-original-imafjy3a9gzpxhz7.jpeg?q=50" class="img-grid">
      </div>
     </div>

      </div>
      <h5 class="pro_desc"><span class="text-muted">Puma</span><br>
        <div class="product-des">Solid Men Round Neck T-shirt</div>
       <span class="badge badge-pill badge-success">4.8</span>
       <span class="text-muted review-text">560 reviews</span><br>
       <i class="fa fa-inr" aria-hidden="true"></i>
       550.00<span class="float-right price">40% discount</span>
      </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jvy4vbk0/shirt/r/8/f/m-hlsh009224-navy-blue-lt-blue-highlander-original-imafgqhefygfex75.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jvy4vbk0/shirt/r/8/f/m-hlsh009224-navy-blue-lt-blue-highlander-original-imafgqhe47nsa38c.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Highlander</span><br>
          <div class="product-des">Men Checked Casual Shirt</div>
         <span class="badge badge-pill badge-success">4.0</span>
         <span class="text-muted review-text">980 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         950.00<span class="float-right price">20% discount</span>
        </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jyt0knk0/blazer/p/k/x/48-lpbzmslh148927-louis-philippe-original-imafgvaxh4fkrfdw.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jyt0knk0/blazer/p/k/x/48-lpbzmslh148927-louis-philippe-original-imafgvaw2nbu433t.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Louis Philippe</span><br>
          <div class="product-des">Checkered Blazer</div>
         <span class="badge badge-pill badge-success">4.2</span>
         <span class="text-muted review-text">310 review</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         1980.00<span class="float-right price">5% discount</span>
        </h5>         
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jw6pifk0/t-shirt/e/u/d/xl-62rwn-lewel-original-imafgxd7sg3ev8g2.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jp02t8w0/t-shirt/g/t/z/s-25rwn-lewel-original-imafbbjxfzmfhgkq.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">LEWEL</span><br>
          <div class="product-des">Color Block Man Hoodie</div>
         <span class="badge badge-pill badge-success">3.9</span>
         <span class="text-muted review-text">110 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         650.00<span class="float-right price">25% discount</span>
        </h5>         
  </div>
</div>
</div>

