<div class="card" id="side-nav">
  <div class="card-header">
    <h2>Sports</h2>
  </div>
  <li class="list-group-item">
        <div>
              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
               Cricket
              </div>
            
              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                <a  routerLink="cricket-bat" class="list-group-item">Cricket Bat</a>
                <a  routerLink="cricket-kits" class="list-group-item">Cricket Kit</a>
                
               
              </div>
            </div>

          </li> 

         
                  <li class="list-group-item">
                        <div>
                              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                               Badminton
                              </div>
                            
                              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                <a  routerLink="badminton-racquets" class="list-group-item">Badminton Racquets</a>
                                <a  routerLink="badminton-shuttles" class="list-group-item">Badminton Shuttles</a>
                                
                               
                              </div>
                            </div>

                          </li> 
                          <li class="list-group-item">
                                <div>
                                      <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                       Cycling
                                      </div>
                                    
                                      <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                        <a  routerLink="cycles" class="list-group-item">Cycles</a>
                                        <a  routerLink="cycling-accessories" class="list-group-item">Cycle Accessories</a>
                                    
                                      </div>
                                    </div>
        
                                  </li> 
</div>


<div class="card " id="containerright">
<div class="card-body">
<router-outlet></router-outlet>
</div>
</div>