
                <div class="card sidenav-card">
                  <div class="card-header">
                    Filter
                  </div>
                  <ul class="list-group list-group-flush ">
                    <!-- <li class="list-group-item"><a routerLink="#" id="drop">Men</a></li>  -->
                    <!-- <li class="list-group-item"> <button class="dropdown-btn">Men
                          <i class="fa fa-caret-down"></i>
                        </button></li> -->
                        <li class="list-group-item">
                        <div>
                              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                  Women
                              </div>
                            
                              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                <a routerLink="women-clothing" class="list-group-item">Clothing</a>
                                <a routerLink="women-accessories" class="list-group-item">Accessories</a>
                                <a routerLink="women-footwear" class="list-group-item">Footwear</a>
                              </div>
                            </div>
                          </li> 
                    <li class="list-group-item">
                          <div>
                                  <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                   Men
                                  </div>
                                
                                  <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                    <a  routerLink="men-clothing" class="list-group-item">Clothing</a>
                                    <a  routerLink="men-accessories" class="list-group-item">Accessories</a>
                                  
                                    <a  routerLink="men-footwear" class="list-group-item">Footwear</a>
                                  </div>
                                </div>
                    </li>
                    <li class="list-group-item">
                          <div>
                                  <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                   Kids
                                  </div>
                                
                                  <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                    <a  routerLink="kids-clothing" class="list-group-item">Clothing</a>
                                    <a  routerLink="kids-accessories" class="list-group-item">Accessories</a>
                                    <a  routerLink="kids-footwear" class="list-group-item">Footwear</a>
                                  </div>
                                </div>
                    </li>
                    <li class="nav-item">
                     <div role="button"><a  routerLink="cosmetics" class="list-group-item">
                       <span style="color:#000">Cosmetics</span></a></div>
                    </li>
                  </ul>
                </div>
  <!-- </div> -->
 <!-- <div class="col-md-10">  -->
<div class="card">
  
      
  <router-outlet></router-outlet>
<!-- ------------------------WOMEN CLOTHING-----------------------        -->
     
<!-- ---------------------MEN CLOTHING--------------------------- -->
     
<!-- ---------------------WOMEN ACCESSORIES--------------------------- -->
      
<!-- ---------------------KIDS CLOTHING--------------------------- -->
     
<!-- ---------------------COSMETICS--------------------------- -->

<!-- ---------------------MEN ACCESSORIES--------------------------- -->

<!-- ---------------------KIDS ACCESSORIES--------------------------- -->

<!-- ---------------------MEN FOOTWEAR--------------------------- -->

<!-- ---------------------WOMEN FOOTWEAR--------------------------- -->

<!-- ---------------------KIDS FOOTWEAR--------------------------- -->
</div>
  

 


