
    <div class="card-header">
        <h5>Women Clothing</h5>
        </div>
        <div class="card-body container-fluid">
        
        <div class="row" id="content">
          <div class="col-md-3">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
              <a href="#">
              <img src="https://rukminim1.flixcart.com/image/800/960/jwwffrk0/dungaree-romper/b/h/t/m-2330-buynewtrend-original-imafhhjugyrfm8hh.jpeg?q=50" class="img-grid"></a>
           </div>
           <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jwwffrk0/dungaree-romper/b/h/t/s-2330-buynewtrend-original-imafhhjudhutbbh8.jpeg?q=50" class="img-grid">
            </div>
           </div>
    
            </div>
         
              <h5 class="pro_desc"><span class="text-muted">Filla</span><br>
                <div class="product-des">Women Dark Blue Dungaree</div>
               <span class="badge badge-pill badge-success">4.2</span>
               <span class="text-muted review-text">1120 reviews</span><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               1200.00<span class="float-right price">10% discount</span>
              </h5>
            
          </div>
          <div class="col-md-3 offet-md-1">
              <div align="center" class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k0r15e80/kurta/k/q/w/l-kr420a-metro-fashion-original-imafkhh4yte8bdjq.jpeg?q=50" class="img-grid"></a>
              </div>
              <div class="flip-card-back">
                  <img src="https://rukminim1.flixcart.com/image/495/594/k0r15e80/kurta/k/q/w/l-kr420a-metro-fashion-original-imafkhh4yte8bdjq.jpeg?q=50" class="img-grid">
                </div>
               </div>
    
                </div>
                <h5 class="pro_desc"><span class="text-muted">Fashion Ritmo</span><br>
                  <div class="product-des">Embroidered Bollywood Maxi Dress</div>
                 <span class="badge badge-pill badge-success">4.9</span>
                 <span class="text-muted review-text">3216 reviews</span><br>
                 <i class="fa fa-inr" aria-hidden="true"></i>
                 1500.00<span class="float-right price">30% discount</span>
                </h5>
          </div>
          <div class="col-md-3 offet-md-1">
              <div align="center" class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jxkpx8w0/shirt/q/c/a/l-42tk1033a-selvia-original-imafgyfezzjc7hms.jpeg?q=50" class="img-grid"></a>
              </div>
              <div class="flip-card-back">
                  <img src="https://rukminim1.flixcart.com/image/800/960/jxkpx8w0/shirt/q/c/a/l-42tk1033a-selvia-original-imafgyfed4mynyfy.jpeg?q=50" class="img-grid">
                </div>
               </div>
    
                </div>
                <h5 class="pro_desc"><span class="text-muted">Alfa Fashion</span><br>
                  <div class="product-des">Casual Checkered Shirt</div>
                 <span class="badge badge-pill badge-success">4.7</span>
                 <span class="text-muted review-text">280 reviews</span><br>
                 <i class="fa fa-inr" aria-hidden="true"></i>
                 750.00<span class="float-right price">5% discount</span>
                </h5>         
          </div>
          <div class="col-md-3 offet-md-1">
              <div align="center" class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k0r15e80/kurta/s/y/z/4xl-pk1672-la-ahika-original-imafkh9uwgsawq44.jpeg?q=50" class="img-grid"></a>
              </div>
              <div class="flip-card-back">
                  <img src="https://rukminim1.flixcart.com/image/800/960/k0r15e80/kurta/s/y/z/4xl-pk1672-la-ahika-original-imafkh9uuc8dsyuc.jpeg?q=50" class="img-grid">
                </div>
               </div>
    
                </div>
                <h5 class="pro_desc"><span class="text-muted">Ahika</span><br>
                  <div class="product-des">Women Printed Kurta</div>
                 <span class="badge badge-pill badge-success">4.3</span>
                 <span class="text-muted review-text">112 reviews</span><br>
                 <i class="fa fa-inr" aria-hidden="true"></i>
                 650.00<span class="float-right price">10% discount</span>
                </h5>         
          </div>
        </div>
        </div>
    
    