
        <div class="card side" >
        <div class="card-header" align="center">
           FILTER
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <div>
                          <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                           Fiction
                          </div>
                        
                          <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                            <a  href="#" class="list-group-item">Science Fiction</a>
                            <a  href="#" class="list-group-item">Fantacy Fiction</a>
                           
                          </div>
                        </div>
                      </li> 
                <li class="list-group-item">
                      <div>
                              <div role="button" id="dropdownMenuLink1" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                               Philosophy
                              </div>
                              
                            
                              <div class="collapse" aria-labelledby="dropdownMenuLink1" id="collapseExample">
                                <a  href="#" class="list-group-item">Religion Book</a>
                                <a  href="#" class="list-group-item">Philosophy Book</a>
                            </div>
                            </div>
                </li>
                <li class="list-group-item">
                      <div>
                        <div role="button" id="dropdownMenuLink2" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                               Textbooks
                              </div>
                            <div class="collapse" aria-labelledby="dropdownMenuLink2" id="collapseExample">
                                <a  href="#" class="list-group-item">School Book</a>
                                <a  href="#" class="list-group-item">Engineering Book</a>
                             </div>
                            </div>
                </li>
                <li class="list-group-item">
                    <div>
                      <div role="button" id="dropdownMenuLink3" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                             Children Books
                            </div>
                          <div class="collapse" aria-labelledby="dropdownMenuLink3" id="collapseExample">
                              <a  href="#" class="list-group-item">Comic Book</a>
                              <a  href="#" class="list-group-item">Fantasy Book</a>
                           </div>
                          </div>
              </li>
              <li class="list-group-item">
                <div>
                  <div role="button" id="dropdownMenuLink4" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                         Literature
                        </div>
                      <div class="collapse" aria-labelledby="dropdownMenuLink4" id="collapseExample">
                          <a  href="#" class="list-group-item">Mythological Book</a>
                          <a  href="#" class="list-group-item">Poetry Book</a>
                       </div>
                      </div>
          </li>
              </ul>
 </div>
   </div>
        <div class="card ">
                        <div class="container-fluid">
                        <div class="card-header">
                        <h3>BOOKS</h3>
                        </div>
                        <div class="card-body">
                        <div class="row">
                        <div class="col-md-3">
                            <a href="">
                                <br>
                           <div align="center"> <a class="ads"><img src="../assets/books/fic1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a></div>
                            <h5 class="pro_desc" >Earth to Centauri-The First Journey <p class="text-muted" >Kumar L</p>
                            <span class="badge badge-pill badge-success"> 3.1 <h6 class="fa fa-star checked"></h6></span>
                            &nbsp;<span class="text-muted">(5)</span><br>
                           
                            <i class="fa fa-inr" aria-hidden="true"></i>207&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >290</p><b>28% off</b>
                        </h5>
                        </a>
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a class="ads"><img src="../assets/books/fic3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                            <h5 class="pro_desc">The Martian<br><br><p class="text-muted" >Hardy G</p>
                            <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span>
                            &nbsp;<span class="text-muted">(1)</span><br>
                            <i class="fa fa-inr" aria-hidden="true"></i>360&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                        </h5>
                        </a>                             
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                        <br>
                            <a class="ads"><img src="../assets/books/fic8.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>                        
                            <h5 class="pro_desc">The Ottoman Secret<br><br><p class="text-muted" >Raymond Khoury</p>
                            <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                            &nbsp; <span class="text-muted">(1)</span><br>
                            <i class="fa fa-inr" aria-hidden="true"></i>366&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >599</p><b>38% off</b>
                        </h5>
                        </a>
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                        <br>
                            <a  class="ads"> <img src="../assets/books/fic9.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                            <h5 class="pro_desc">The Last Avatar<br>
                                (Age of Kalki #1)<p class="text-muted" >Vishwas Mundangal</p>
                                <span class="badge badge-pill badge-success"> 4.9 <h6 class="fa fa-star checked"></h6></span>
                                &nbsp;<span class="text-muted">(85)</span><br>
                                <i class="fa fa-inr" aria-hidden="true"></i>227&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >299</p><b>24% off</b>
                            </h5>
                            </a>
                        </div> 
                        </div>
                      <hr>
                        <div class="row">
                                <div class="col-md-3">
                                        <a href="">
                                                <br>
                                    <a  class="ads">  <img src="../assets/books/fan1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                    <h5 class="pro_desc">Sita<br><br><p class="text-muted" >Amish</p>
                                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(8,455)</span><br>
                                   
                                    <i class="fa fa-inr" aria-hidden="true"></i>231&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>42% off</b>
                                </h5>
                                </a>  
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                                <br>
                                    <a  class="ads"> <img src="../assets/books/fan2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                    <h5 class="pro_desc">Till The Last Breath . . .<p class="text-muted" >Durjoy Datta</p>
                                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(3,583)</span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>149&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >199</p><b>25% off</b>
                                </h5>
                                </a>                             
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/fan3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                    <h5 class="pro_desc">Harry Potter and the Half-Blood Prince<p class="text-muted" >J.K Rowlin</p>
                                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(3,105)</span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>452&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >699</p><b>35% off</b>
                                  </h5>
                                </a>
                                </div>
                                <div class="col-md-3">
                                        <a href=""> 
                                            <br>
                                    <a  class="ads"><img src="../assets/books/fan5.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                    <h5 class="pro_desc">The Lord Of The Ring<br><br><p class="text-muted" >J.R.R.Tolkein</p>
                                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                                        &nbsp;<span class="text-muted">(130)</span><br>
                                        <i class="fa fa-inr" aria-hidden="true"></i>285&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >499</p><b>42% off</b> 
                                    </h5>
                                    </a>
                                </div> 
                                
                                </div>
                        <hr>
                        <div class="row">
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a class="ads"><img src="../assets/books/rel1.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                    <h5 class="pro_desc">Mahabharata<br><br><p class="text-muted" >Arihant</p>
                                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(12)</span><br>
                                   
                                    <i class="fa fa-inr" aria-hidden="true"></i>842&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                </h5>
                                </a> 
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/rel5.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                    <h5 class="pro_desc">Chanakya Neeti<br><br><p class="text-muted" >Maplepress</p>
                                    <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(133)</span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>113&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >125</p><b>9% off</b>
                               </h5>
                                </a>                                 
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"> <img src="../assets/books/rel3.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                    <h5 class="pro_desc">Bhagavad Gita Yathayatha (Bengali)<p class="text-muted" >A.C Prabhupada</p>
                                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(465)</span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>315&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >750</p><b>57% off</b>
                                    </h5>
                                </a>
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/rel54.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                    <h5 class="pro_desc">The God Delusion<br><br><p class="text-muted" >Richards Dawkins</p>
                                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                                        &nbsp;<span class="text-muted">(572)</span><br>
                                        <i class="fa fa-inr" aria-hidden="true"></i>334&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >499</p><b>33% off</b> 
                                        </h5>
                                    </a>
                                </div> 
                                
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"><img src="../assets/books/phil1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                            <h5 class="pro_desc">Enlightenment Now<br><br><p class="text-muted" >Steven Pinker</p>
                                            <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                                            &nbsp;<span class="text-muted">(35)</span><br>
                                           
                                            <i class="fa fa-inr" aria-hidden="true"></i>357&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >599</p><b>40% off</b>
                                                </h5>
                                        </a>  
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a class="ads"><img src="../assets/books/phil2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                            <h5 class="pro_desc">You Are The Supreme Light<br><p class="text-muted" >Adi Shankara</p>
                                            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span>
                                            &nbsp;<span class="text-muted">(14)</span><br>
                                            <i class="fa fa-inr" aria-hidden="true"></i>282&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>29% off</b>
                                        </h5>
                                        </a>                              
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a class="ads"><img src="../assets/books/phil3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                            <h5 class="pro_desc">The Decline Of Civilization <br><br><p class="text-muted" >Ramin Johanberln</p>
                                            <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                                            &nbsp;<span class="text-muted">(55)</span><br>
                                            <i class="fa fa-inr" aria-hidden="true"></i>251&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>37% off</b>
                                          </h5>
                                        </a> 
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a class="ads"><img src="../assets/books/phil4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                            <h5 class="pro_desc">An Introducation to Indian Philosophy<p class="text-muted" >Satish Chandra</p>
                                                <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span>
                                                &nbsp;<span class="text-muted">(1,046)</span><br>
                                                <i class="fa fa-inr" aria-hidden="true"></i>177&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >295</p><b>40% off</b> 
                                                </h5>
                                            </a>
                                            </div> 
                                            </div>
                                        
                                       
                        <hr>
                        <div class="row">
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/sch1.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                    <h5 class="pro_desc"> Mathematics for Class 9 (2019-2020) <p class="text-muted" >Agarwal</p>
                                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(12)</span><br>
                                   
                                    <i class="fa fa-inr" aria-hidden="true"></i>347&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                    </h5>
                                </a>    
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/sch2.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                    <h5 class="pro_desc">All In One Science CBSE class 9 <p class="text-muted" >Arihant</p>
                                    <span class="badge badge-pill badge-success"> 4.1   <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(12)</span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>230&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                </h5>
                                </a>                               
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a class="ads"> <img src="../assets/books/sch3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                    <h5 class="pro_desc">All In One SocialScience CBSE class 9 <p class="text-muted" >Arihant</p>
                                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                                    &nbsp;<span class="text-muted">(12)</span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>238&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                  </h5>
                                </a>  
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a class="ads"><img src="../assets/books/sch5.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                    <h5 class="pro_desc">CBSE Chapterwise  Physics Solved Papers <p class="text-muted" >Arihant</p>
                                        <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span>
                                        &nbsp;<span class="text-muted">(12)</span><br>
                                        <i class="fa fa-inr" aria-hidden="true"></i>177&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b> 
                                    
                                    </h5>
                                    </a>
                                    </div> 
                                
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"><img src="../assets/books/eng1.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                            <h5 class="pro_desc">Principles of Electrical Machines<p class="text-muted" >Arihant</p>
                                            <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                                            &nbsp;<span class="text-muted">(12)</span><br>
                                           
                                            <i class="fa fa-inr" aria-hidden="true"></i>444&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                        </h5>
                                        </a>  
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"><img src="../assets/books/eng2.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                            <h5 class="pro_desc">Mechanical Engineering<br><br><p class="text-muted" >Arihant</p>
                                            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span>
                                            &nbsp;<span class="text-muted">(12)</span><br>
                                            <i class="fa fa-inr" aria-hidden="true"></i>269&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                        </h5>
                                        </a>                              
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"> <img src="../assets/books/eng3.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                            <h5 class="pro_desc">Medical Physiology<br><br><p class="text-muted" >Arihant</p>
                                            <span class="badge badge-pill badge-success"> 3.1 <h6 class="fa fa-star checked"></h6></span>
                                            &nbsp;<span class="text-muted">(12)</span><br>
                                            <i class="fa fa-inr" aria-hidden="true"></i>690&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                            </h5>
                                        </a>
                                            
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"> <img src="../assets/books/eng4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                            <h5 class="pro_desc">Elements of Agricultural Engineering<p class="text-muted" >Arihant</p>
                                                <span class="badge badge-pill badge-success"> 3.7 <h6 class="fa fa-star checked"></h6></span>
                                                &nbsp;<span class="text-muted">(12)</span><br>
                                                <i class="fa fa-inr" aria-hidden="true"></i>341&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                </h5>
                                            </a>
                                        </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                                <div class="col-md-3">
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"><img src="../assets/books/comic1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                    <h5 class="pro_desc">Great Stories for Children<br><br><p class="text-muted" >Arihant</p>
                                                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                                                    &nbsp;<span class="text-muted">(12)</span><br>
                                                   
                                                    <i class="fa fa-inr" aria-hidden="true"></i>147&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                               </h5>
                                                </a>  
                                                </div>
                                                <div class="col-md-3">
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"><img src="../assets/books/comic2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                    <h5 class="pro_desc">101 Panchatantra Stories<br><br><p class="text-muted" >Arihant</p>
                                                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                                                    &nbsp;<span class="text-muted">(12)</span><br>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>113&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                </h5>
                                                </a>                              
                                                </div>
                                                <div class="col-md-3">
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"> <img src="../assets/books/comic3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                    <h5 class="pro_desc">Exam Warriors<br><br><p class="text-muted" >Arihant</p>
                                                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                                                    &nbsp;<span class="text-muted">(12)</span><br>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>52&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                               </h5>
                                                </a>
                                                    
                                                </div>
                                                <div class="col-md-3">
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"> <img src="../assets/books/comic4.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                                    <h5 class="pro_desc">The Lion, The Witch & THE Wardrobe<p class="text-muted" >Arihant</p>
                                                        <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                                                        &nbsp;<span class="text-muted">(12)</span><br>
                                                        <i class="fa fa-inr" aria-hidden="true"></i>164&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                        </h5>
                                                    </a>
                                                </div> 
                                            </div>
                                            <hr>
                                                <div class="row">
                                                        <div class="col-md-3" >
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"><img src="../assets/books/fancy1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                            <h5 class="pro_desc">Animal Stories<br><br><p class="text-muted" >Arihant</p>
                                                            <span class="badge badge-pill badge-success"> 5.0 <h6 class="fa fa-star checked"></h6></span>
                                                            &nbsp;<span class="text-muted">(12)</span><br>
                                                           
                                                            <i class="fa fa-inr" aria-hidden="true"></i>247&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                            </h5>
                                                        </a>  
                                                        </div>
                                                        <div class="col-md-3" >
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"><img src="../assets/books/fancy2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                            <h5 class="pro_desc">50 Greatest Short Stories For Children<p class="text-muted" >Arihant</p>
                                                            <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                                                            &nbsp;<span class="text-muted">(12)</span><br>
                                                            <i class="fa fa-inr" aria-hidden="true"></i>117&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                    </h5>
                                                        </a>                              
                                                        </div>
                                                        <div class="col-md-3">
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"> <img src="../assets/books/fancy3.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                                                            <h5 class="pro_desc">The Cheese Experiment<br><br><p class="text-muted" >Arihant</p>
                                                            <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                                                            &nbsp;<span class="text-muted">(12)</span><br>
                                                            <i class="fa fa-inr" aria-hidden="true"></i>205&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                            </h5>
                                                        </a>
                                                            
                                                        </div>
                                                        <div class="col-md-3" >
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"> <img src="../assets/books/fancy4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                            <h5 class="pro_desc">The Hour Of Magic And The Kingdom Of Fantasy<p class="text-muted" >Arihant</p>
                                                                <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                                                                &nbsp;<span class="text-muted">(12)</span><br>
                                                                <i class="fa fa-inr" aria-hidden="true"></i>295&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                                </h5>
                                                            </a>
                                                        </div>  
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                                <div class="col-md-3" >
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"><img src="../assets/books/myth1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                    <h5 class="pro_desc"> The Crimes of Grindelwald<p class="text-muted" >Arihant</p>
                                                                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                                                                    &nbsp;<span class="text-muted">(12)</span><br>
                                                                <i class="fa fa-inr" aria-hidden="true"></i>209&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b> 
                                                                </h5>
                                                                </a>  
                                                                </div>
                                                                <div class="col-md-3" >
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"><img src="../assets/books/myth2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                    <h5 class="pro_desc">Asura: Story of Ravana and His People<p class="text-muted" >Arihant</p>
                                                                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                                                                    &nbsp;<span class="text-muted">(12)</span><br>
                                                                    <i class="fa fa-inr" aria-hidden="true"></i>239&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                                    </h5>
                                                                </a>                              
                                                                </div>
                                                                <div class="col-md-3">
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"> <img src="../assets/books/myth3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                    <h5 class="pro_desc">The Merchant of Venice<br><br><p class="text-muted" >Arihant</p>
                                                                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                                                                    &nbsp;<span class="text-muted">(12)</span><br>
                                                                    <i class="fa fa-inr" aria-hidden="true"></i>131&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                                   </h5>
                                                                </a>
                                                              </div>
                                                                <div class="col-md-3" >
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"> <img src="../assets/books/myth4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                    <h5 class="pro_desc">The Importance of Being Earnest <p class="text-muted" >Arihant</p>
                                                                        <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                                                                        &nbsp;<span class="text-muted">(12)</span><br>
                                                                        <i class="fa fa-inr" aria-hidden="true"></i>90&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b> 
                                                                        </h5>
                                                                    </a>
                                                                </div>  
                                                                </div> 
                                                                <hr>                 
                                                                <div class="row">
                                                                        <div class="col-md-3" >
                                                                                <a href="">
                                                                                    <br>
                                                                            <a  class="ads"><img src="../assets/books/poet1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                            <h5 class="pro_desc">Ram Ki Gatha (Hindi)<br><br><p class="text-muted" >Arihant</p>
                                                                            <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                                                                            &nbsp;<span class="text-muted">(12)</span><br>
                                                                            <i class="fa fa-inr" aria-hidden="true"></i>209&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                                            </h5>
                                                                        </a>  
                                                                        </div>
                                                                        <div class="col-md-3" >
                                                                                <a href="">
                                                                                    <br>
                                                                            <a  class="ads"><img src="../assets/books/poet2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                            <h5 class="pro_desc">Lord Murugan Karthikeya Katha<p class="text-muted" >Arihant</p>
                                                                            <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span>
                                                                            &nbsp;<span class="text-muted">(12)</span><br>
                                                                            <i class="fa fa-inr" aria-hidden="true"></i>200&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                                        </h5>
                                                                        </a>                              
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                                <a href="">
                                                                                    <br>
                                                                            <a  class="ads"> <img src="../assets/books/poet3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                            <h5 class="pro_desc">GANGA - The Constant Goddess<p class="text-muted" >Arihant</p>
                                                                            <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                                                                            &nbsp;<span class="text-muted">(12)</span><br>
                                                                            <i class="fa fa-inr" aria-hidden="true"></i>218&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                                            </h5>
                                                                        </a>
                                                                            
                                                                        </div>
                                                                        <div class="col-md-3" >
                                                                                <a href="">
                                                                                    <br>
                                                                            <a  class="ads"> <img src="../assets/books/poet4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                                                                            <h5 class="pro_desc">The Valmiki Ramayana Vol. 1 <p class="text-muted" >Arihant</p>
                                                                                <span class="badge badge-pill badge-success"> 4.8 <h6 class="fa fa-star checked"></h6></span>
                                                                                &nbsp;<span class="text-muted">(12)</span><br>
                                                                                <i class="fa fa-inr" aria-hidden="true"></i>497&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                                                                                </h5>  
                                                                            </a>
                                                                        </div>  
                                                                        </div>
                        
                        
                        
                        </div>
                        </div>
                        </div>
