<div class="card-header">
    <h5>Kids Footwear</h5>
</div>
    <div class="card-body">

<div class="row" id="content">
  <div class="col-md-3">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jhcatu80/bootie/n/d/5/0-12-sk126andsk129-infantboties-neska-moda-12-original-imaf5dzkx3ufkymh.jpeg?q=50" class="img-grid"></a>
    </div>
    <div class="flip-card-back">
        <img src="https://rukminim1.flixcart.com/image/416/416/jlb6v0w0/bootie/z/3/p/0-12-infantboties-neska-moda-12-original-imaf8gxneffva6ag.jpeg?q=70" class="img-grid">
      </div>
     </div>

      </div>
      <h5 class="pro_desc"><span class="text-muted">Neska</span><br>
        <div class="product-des">Kids Footwear Combo</div>
       <span class="badge badge-pill badge-success">4.2</span>
       <span class="text-muted review-text">1120 reviews</span><br>
       <i class="fa fa-inr" aria-hidden="true"></i>
       650.00<span class="float-right price">10% discount</span>
      </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/800/960/jykfxjk0/kids-shoe/8/w/e/6c-66-j0yj0-original-imafd9fpjejzghqw.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/k19lvgw0/kids-shoe/5/p/y/5c-28-levot-original-imafeyb8fyrywhvm.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">IM Baby</span><br>
          <div class="product-des">Baby Boy Casual Shoe</div>
         <span class="badge badge-pill badge-success">4.9</span>
         <span class="text-muted review-text">3216 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         1500.00<span class="float-right price">30% discount</span>
        </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jy4q3680/kids-shoe/u/b/t/11-chmss19cs004c-chemistry-original-imafgfv7ujsmyghg.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jy4q3680/kids-shoe/u/b/t/11-chmss19cs004c-chemistry-original-imafgfv76ttzh4e8.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Mayu</span><br>
          <div class="product-des">Girls Ballerina</div>
         <span class="badge badge-pill badge-success">4.7</span>
         <span class="text-muted review-text">280 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         550.00<span class="float-right price">5% discount</span>
        </h5>         
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jwpa8i80/kids-sandal/c/8/j/10-205483-crocs-original-imafhbw8k8xhzmzt.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jua4djk0/kids-sandal/c/f/5/10-205100-crocs-original-imaffgdhffqbbyvq.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Crocs</span><br>
          <div class="product-des">Crocs Boys sandle</div>
         <span class="badge badge-pill badge-success">4.3</span>
         <span class="text-muted review-text">112 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         350.00<span class="float-right price">10% discount</span>
        </h5>         
  </div>
</div>
</div>


