<div class="card-header" >
        
    <h5>Showing results for Dining-Table</h5>

</div>

    

<div class="container-fluid">


<div class="row">

    <div class="col-md-3">
        <br>
        <a routerLink="home" class="ads">   <img src="/assets/img/furniture/2table1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
          
            
            <h6>Flipkart Perfect Homes Luzon Metal 4 Seater Dining Set  </h6>
            <span class="badge badge-pill badge-success"> 3.8 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹8,990</h5></a>
        </div>


    

    <div class="col-md-3">
        <br>
        <a href="#" class="ads">   <img src="/assets/img/furniture/2table2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            <h6>Flipkart Perfect Homes Cocos Solid Wood 6 Seater Dining Set  </h6>
            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹15,390</h5></a>
        </div>

        <div class="col-md-3">
            <br>
            <a href="#" class="ads">    <img src="/assets/img/furniture/2table3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                 <br>
            <h6>Flipkart Perfect Homes Arranmore Solid Wood 4 Seater</h6>
            <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹12,499</h5></a>
            </div>


            <div class="col-md-3">
                <br>
               <a href="#" class="ads">  <img src="/assets/img/furniture/2table4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                 <br>
                <h6>Flipkart Perfect Homes Fraser Rubber Wood 4 Seater Dining </h6>
                <span class="badge badge-pill badge-success"> 3.8 <h6 class="fa fa-star checked"></h6></span><br>
                <h5> ₹11,090</h5></a>
                </div>

</div>



<div class="row">

    <div class="col-md-3">
        <br>
        <a href="" class="ads">   <img src="/assets/img/furniture/2table1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
          
            
            <h6>Flipkart Perfect Homes Luzon Metal 4 Seater Dining Set  </h6>
            <span class="badge badge-pill badge-success"> 3.8 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹8,990</h5></a>
        </div>


    

    <div class="col-md-3">
        <br>
        <a href="#" class="ads">   <img src="/assets/img/furniture/2table2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            <h6>Flipkart Perfect Homes Cocos Solid Wood 6 Seater Dining Set  </h6>
            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹15,390</h5></a>
        </div>

        <div class="col-md-3">
            <br>
            <a href="#" class="ads">    <img src="/assets/img/furniture/2table3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                 <br>
            <h6>Flipkart Perfect Homes Arranmore Solid Wood 4 Seater</h6>
            <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹12,499</h5></a>
            </div>


            <div class="col-md-3">
                <br>
               <a href="#" class="ads">  <img src="/assets/img/furniture/2table4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                 <br>
                <h6>Flipkart Perfect Homes Fraser Rubber Wood 4 Seater Dining </h6>
                <span class="badge badge-pill badge-success"> 3.8 <h6 class="fa fa-star checked"></h6></span><br>
                <h5> ₹11,090</h5></a>
                </div>

</div>



</div>

