<div class="card-header">
    <h5>Kids Accessories</h5>
</div>
    <div class="card-body">

<div class="row" id="content">
  <div class="col-md-3">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/bath-toy/x/b/x/jo-baby-swimming-13-pcs-sounding-original-imaem3htbyme7guz.jpeg?q=70" class="img-grid"></a>
    </div>
    <div class="flip-card-back">
        <img src="https://rukminim1.flixcart.com/image/416/416/jmjhifk0/bath-toy/k/r/d/animal-shape-soft-13-pcs-chu-chu-toys-for-baby-kids-bath-akshit-original-imaet2y4rhrejyyx.jpeg?q=70" class="img-grid">
      </div>
     </div>

      </div>
      <h5 class="pro_desc"><span class="text-muted">Jo Baby</span><br>
        <div class="product-des">Jo Baby Swimming 13 Bath-Toy</div>
       <span class="badge badge-pill badge-success">4.2</span>
       <span class="text-muted review-text">1120 reviews</span><br>
       <i class="fa fa-inr" aria-hidden="true"></i>
       120.00<span class="float-right price">10% discount</span>
      </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/sipper-cup/e/s/v/200-toddler-spout-cup-with-twin-handle-scf551-03-philips-avent-original-imaequdhsmy2h7en.jpeg?q=70" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/sipper-cup/e/s/v/200-toddler-spout-cup-with-twin-handle-scf551-03-philips-avent-original-imaequdhn88mzs7b.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Phillip</span><br>
          <div class="product-des">Phillip Sprout Cup with Twin Handler</div>
         <span class="badge badge-pill badge-success">4.5</span>
         <span class="text-muted review-text">329 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         200.00<span class="float-right price">70% discount</span>
        </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jly1wnk0/bib/h/z/h/baby-bibs-bibprntmom-miss-chief-original-imaf8ytwn6fnafxy.jpeg?q=70" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/jly1wnk0/bib/h/z/h/baby-bibs-bibprntmom-miss-chief-original-imaf8ytwaegrgsat.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Miss Chief</span><br>
          <div class="product-des">Miss Chief Bibs- 4Pc set- Print Mom (Assorted)</div>
         <span class="badge badge-pill badge-success">4.7</span>
         <span class="text-muted review-text">280 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         150.00<span class="float-right price">15% discount</span>
        </h5>         
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jrs3mvk0/bib/5/5/3/waterproof-super-soft-cotton-daily-use-elegant-and-stylish-original-imafdg2r44jcszxm.jpeg?q=70" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/bib/f/w/9/fast-dry-waterproof-super-soft-cotton-daily-use-elegant-and-original-imaf97qytvsc8sba.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Cutiepie Collections</span><br>
          <div class="product-des">Cutiepie Collections Waterproof,Stylish Velcro bibs for baby-Pack of 3</div>
         <span class="badge badge-pill badge-success">4.3</span>
         <span class="text-muted review-text">112 reviews</span><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         650.00<span class="float-right price">10% discount</span>
        </h5>         
  </div>
</div>
</div>


