<div class="container-fluid">
                <div class="row">
        <div class="col-md-3">
                        <br>
                <a class="ads"href="#">
                 <img src="/assets/img/Groceries/5c.jpeg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                 <br><br>
            <h6>Odonil Multi Fragrance Blocks (Pack of 3)  (Combo Pack 3 + 1 Free, 75 g each)  (225 g)</h6>
            <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹178</h4></a>
            </div>


            <div class="col-md-3">
                        <br>
                    <a class="ads"href="#">
                 <img src="/assets/img/Groceries/5d.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                 <br><br>
                <h6>Odonil Zipper Multi Fragrances Blocks (Pack of 3)</h6>
                <br>
                <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹128</h4>
                </a>
                </div>


<div class="col-md-3">
                <br>
            <a class="ads"href="#">
         <div><img src="/assets/img/Groceries/5g.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > </div>
         <br><br>
        <h6>Odonil Citrus Spice Blocks (Pack of 1) (50g Odonil Gel Free) (75 g)</h6>
        <br>
        <span class="badge badge-pill badge-success"> 4.8 <h6 class="fa fa-star checked"></h6></span><br>
        <h4> ₹60</h4>
        </a>
        </div>

<div class="col-md-3">
                <br>
            <a class="ads"href="#">
         <img src="/assets/img/Groceries/5h.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
         <br><br>
        <h6>Odonil Jasmine Fresh Spray (Pack of 1)  (700 ml)</h6>
        <br>
        <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span><br>
        <h4> ₹180</h4>
        </a>
        </div>
</div>
</div>


