   
 <div class="card-header" >
        
    <h5>Showing results for Home-Chair</h5>

</div>






<div class="container-fluid">

<div class="row">

   <div class="col-md-3">
       <br>
          <a href="#" class="ads"> <img src="/assets/img/furniture/2chair5.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >           
           <br>
           <h6>Flipkart Perfect Homes Howard Fabric Office Executive Chair  </h6>
           <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span>
          
          <h5> ₹3,790</h5> </a>  
       </div>


   

   <div class="col-md-3">
       <br>
       <a href="#" class="ads">      <img src="/assets/img/furniture/2chair2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
           <br>
           <h6>Inditradition Folding Camping & Fishing Chair</h6>
           <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹749</h5> </a>
       </div>

       <div class="col-md-3">
           <br>
           <a href="#" class="ads">     <img src="/assets/img/furniture/2chair3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                <br>
           <h6>SUPREME TURBO SUPER Plastic Outdoor Chair  </h6>
           <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹4,139</h5></a>
           </div>


           <div class="col-md-3">
               <br>
               <a href="#" class="ads">     <img src="/assets/img/furniture/2chair4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                <br>
               <h6>InLiving Sheesham Wood Solid Wood Living Room Chair  </h6>
               <span class="badge badge-pill badge-success"> 3.8 <h6 class="fa fa-star checked"></h6></span><br>
               <h5> ₹6,390</h5></a>
               </div>

</div>




<div class="row">

    <div class="col-md-3">
        <br>
           <a href="#" class="ads"> <img src="/assets/img/furniture/2chair5.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" >           
            <br>
            <h6>Flipkart Perfect Homes Howard Fabric Office Executive Chair  </h6>
            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span>
           
           <h5> ₹3,790</h5> </a>  
        </div>
 
 
    
 
    <div class="col-md-3">
        <br>
        <a href="#" class="ads">      <img src="/assets/img/furniture/2chair2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            <h6>Inditradition Folding Camping & Fishing Chair</h6>
            <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹749</h5> </a>
        </div>
 
        <div class="col-md-3">
            <br>
            <a href="#" class="ads">     <img src="/assets/img/furniture/2chair3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                 <br>
            <h6>SUPREME TURBO SUPER Plastic Outdoor Chair  </h6>
            <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹4,139</h5></a>
            </div>
 
 
            <div class="col-md-3">
                <br>
                <a href="#" class="ads">     <img src="/assets/img/furniture/2chair4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                 <br>
                <h6>InLiving Sheesham Wood Solid Wood Living Room Chair  </h6>
                <span class="badge badge-pill badge-success"> 3.8 <h6 class="fa fa-star checked"></h6></span><br>
                <h5> ₹6,390</h5></a>
                </div>
 
 </div>
 


</div>

