<!--Redmi Mobiles-->

<div id="redmi">

    <h5>Samsung Mobiles</h5><br><hr>
        <div class="container-fluid">
                <div class="row" align="center">
                        <div class="col-md-3"><div class="imgg">
                <a href=""><img src="assets/Phones/sam1.jpeg/" alt="mi-redmi-note-7s"></a></div>
                        </div>
                        <div class="col-md-6" align="left">
                            <a routerLink="fashion"><h5>Samsung Galaxy A30s (Prism Crush White) 
                                <br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                                <ul>
                                    <li>4GB RAM |64GB ROM | Expandable Upto 256 GB</li>
                                    <li>16.0 cm (6.3 inch) FHD+ Display</li>
                                    <li>48MP + 5MP + |13MP Front Camera</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 9,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>9,250</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div><hr><br>
        <div class="container-fluid">
                <div class="row" align="center">
                        <div class="col-md-3">
                <a href=""><img src="assets/Phones/sam2.jpeg" alt="mi-redmi-note-7s"></a>
                        </div>
                        <div class="col-md-6" align="left">
                            <a href=""><h5>Samsung Galaxy A50s <br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                                <ul>
                                    <li>6GB RAM |120GB ROM | Expandable Upto 256 GB</li>
                                    <li>16.0 cm (6.3 inch) FHD+ Display</li>
                                    <li>4MP + 8MP + 5MP + |32MP Front Camera</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 24,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>6,400</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div><hr><br>
        <div class="container-fluid">
                <div class="heart1"></div>
                <div class="row" align="center">
                        <div class="col-md-3">
                <a href=""><img src="assets/Phones/sam3.jpeg"  alt="mi-redmi-note-7s"></a>
                
            </div>
                        <div class="col-md-6" align="left">
                            <a href=""><h5 style="padding-left: 0px">Samsung Galaxy M10S<br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                               <ul>
                                    <li>2GB RAM |32GB ROM | Expandable Upto 256 GB</li>
                                    <li>16.0 cm (6.3 inch) FHD+ Display</li>
                                    <li>8MP |13MP Front Camera</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 9,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>10,800</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div>
</div>        