
            
                          
                    
                        <div class="card-header">

                                
                            <h5>Showing results for Sports</h5>
                    </div>

                    <div class="container">
                               <div class="row">
                               <div class="col-md-3" >
                                    <a href="#" class="ads">      <img src="/assets/img/sports/kit1.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                        <br>
                                        <br>
                                        
                                        <h6>Willow Cricket Bat Kit </h6>
                                        
                                        <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                       <h4> ₹2000</h4></a>


                               </div>
                               <div class="col-md-3">
                                    <a href="#" class="ads">      <img src="/assets/img/sports/kit2.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                        <br>
                                        <br>
                                        
                                        <h6>Just Rider (Full Size) </h6>
                                        
                                        <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                       <h4> ₹1299</h4></a>


                               </div>
                               <div class="col-md-3">
                                    <a href="#" class="ads">      <img src="/assets/img/sports/kit3.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                        <br>
                                        <br>
                                        
                                        <h6>LYCAN Stunner Bigger Edge Full </h6>
                                        
                                        <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                       <h4> ₹1599</h4></a>


                               </div>
                               <div class="col-md-3">
                                    <a href="#" class="ads">      <img src="/assets/img/sports/kit4.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                        <br>
                                        <br>
                                        
                                        <h6>
                                                SUNLEY Sarthak Men's Hard 
                                                 </h6>
                                        
                                        <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                       <h4> ₹1799</h4></a>


                               </div>





                               </div>

                                    
 









                    </div>













            

          