
        <div class="card-header">
            <h5>Men Footwear</h5>
        </div>
            <div class="card-body">
    
    <div class="row" id="content">
      <div class="col-md-3">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
          <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jyxaw7k0/shoe/u/a/h/dg-317-black-spider-sports-9-digitrendzz-black-original-imafehydfrs5gqsr.jpeg?q=50" class="img-grid"></a>
        </div>
        <div class="flip-card-back">
            <img src="https://rukminim1.flixcart.com/image/800/960/jyxaw7k0/shoe/u/a/h/dg-317-black-spider-sports-9-digitrendzz-black-original-imafehydgzjghamx.jpeg?q=50" class="img-grid">
          </div>
         </div>

          </div>
          <h5 class="pro_desc"><span class="text-muted">MileWalker</span><br>
            <div class="product-des">MileWalker Running Shoe</div>
           <span class="badge badge-pill badge-success">4.2</span>
           <span class="text-muted review-text">1120 reviews</span><br>
           <i class="fa fa-inr" aria-hidden="true"></i>
           1050.00<span class="float-right price">10% discount</span>
          </h5>
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jl41nrk0/shoe/v/y/z/ca4273-9-kraasa-brown-original-imaf8bhzqg4ysbs3.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jl41nrk0/shoe/v/y/z/ca4273-9-kraasa-brown-original-imaf8bhykqpun6b4.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Breil By Fort Collins</span><br>
              <div class="product-des">Climber Boot foer Men</div>
             <span class="badge badge-pill badge-success">4.9</span>
             <span class="text-muted review-text">3216 reviews</span><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             900.00<span class="float-right price">30% discount</span>
            </h5>
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jpbic280/sandal/z/x/c/combo-857-874-9-bersache-multicolor-original-imafbejf9sgwmzgp.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jsm3vrk0/sandal/g/5/g/combo-1129-857-7-bersache-multicolor-original-imafbdbxgjhhzbgu.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Bersache</span><br>
              <div class="product-des">Bersache Men Grey Blue Footwear</div>
             <span class="badge badge-pill badge-success">4.7</span>
             <span class="text-muted review-text">280 reviews</span><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             650.00<span class="float-right price">5% discount</span>
            </h5>         
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jlfh6kw0/slipper-flip-flop/u/c/e/e0321-sku-6-10-10-emosis-blue-original-imaf8k4p82vxadm5.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jzrb53k0/slipper-flip-flop/n/k/n/f1-pubg-dotted-black-7-7-des-tongs-black-original-imafj5a96amgy2he.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Emosis</span><br>
              <div class="product-des">Emosis Slider Slides</div>
             <span class="badge badge-pill badge-success">4.3</span>
             <span class="text-muted review-text">112 reviews</span><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             350.00<span class="float-right price">10% discount</span>
            </h5>         
      </div>
    </div>
    </div>

