<h3>Badminton Racquets</h3><hr>

<div class="row">
    <div class="col-md-3" >
         <a href="#" class="ads">      <img src="/assets/img/sports/b1.jpeg" class="row1-photo img-fluid day " alt="No image" > 
             <br>
             <br>
             
             <h6>Yonex Mavis Special Edition </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹999</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/b2.jpeg" class="row1-photo img-fluid day " alt="No image" > 
             <br>
             <br>
             
             <h6>Li-Ning G-Tek 80 II   </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹699</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/b5.jpeg" class="row1-photo img-fluid day" alt="No image" > 
             <br>
             <br>
             
             <h6>Li-Ning XP 710, Pack of 2  </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹1399</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/b2.jpeg" class="row1-photo img-fluid " alt="No image"  > 
             <br>
             <br>
             
             <h6>
                    Adrenex by Flipkart R501 
                      </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹999</h4></a>


    </div>





    </div>
