<!--Redmi Mobiles-->
<div id="del">

    <h5>Mi Mobiles</h5><br><hr>
        <div class="container-fluid">
                <div class="row" align="center">
                        <div class="col-md-3"><div class="imgg">
                <a href=""><img src="https://i.imgur.com/aXRvtgL.jpg" width="250px" alt="mi-redmi-note-7s"></a></div>
                        </div>
                        <div class="col-md-6" align="left">
                            <a routerLink="fashion"><h5>Dell (i7 9th gen)<br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                                <ul>
                                    <li>8Gb Ram | 2 TB Hdd</li>
                                    <li> 15 inch FHD+ Display</li>
                                    <li>2 Gb Graphic Card</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 9,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>9,250</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div><hr><br>
        <div class="container-fluid">
                <div class="row" align="center">
                        <div class="col-md-3"><div class="imgg">
                <a href=""><img src="https://i.imgur.com/p57C1S4.jpg" width="250px" alt="mi-redmi-note-7s"></a></div>
                        </div>
                        <div class="col-md-6" align="left">
                            <a routerLink="fashion"><h5>Dell (i7 9th gen)<br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                                <ul>
                                    <li>8Gb Ram | 2 TB Hdd</li>
                                    <li> 15 inch FHD+ Display</li>
                                    <li>2 Gb Graphic Card</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 9,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>9,250</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div><hr><br>
        <div class="container-fluid">
                <div class="row" align="center">
                        <div class="col-md-3"><div class="imgg">
                <a href=""><img src="https://i.imgur.com/v2vWHtw.jpg" width="250px" alt="mi-redmi-note-7s"></a></div>
                        </div>
                        <div class="col-md-6" align="left">
                            <a routerLink="fashion"><h5>Dell (i7 9th gen)<br></h5>
                                <h6><span class="badge badge badge-success">4.2</span></h6><br></a>
                                <ul>
                                    <li>8Gb Ram | 2 TB Hdd</li>
                                    <li> 15 inch FHD+ Display</li>
                                    <li>2 Gb Graphic Card</li>
                                    <li>40000mAh Battery</li>
                                    <li>Qualcomm Snapdragon 660 AIE Processor</li>
                                    <li>Splash Proof - Protected by P2i</li>
                                </ul>
                        </div> 
                        <div class="col-md-3" align="left">
                                <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 9,999</p>
                                <p>No Cost EMI</p>
                                <p>Upto <i class="fa fa-inr" aria-hidden="true"><strong>9,250</strong></i> Off on Exchange </p>
                        </div>
                </div>
        </div><hr><br>
        
        
</div>
<!--Redmi Mobiles-->
        