   
 <div class="card-header" >
        
    <h5>Showing results for Single-Bed</h5>

</div>

<div class="container-fluid">

<div class="row">

<div class="col-md-3">
   <br>
   <a href="#" class="ads">      <img src="/assets/img/furniture/1bed1.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
       <br>
       
       <h6 >Spacewood Engineered Wood Single Box Bed </h6>
       
       <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
      <h5> ₹6,790</h5></a>
   </div>




<div class="col-md-3">
   <br>
   <a href="#" class="ads">     <img src="/assets/img/furniture/1bed6.jpg" class="row1-photo img-thumbnail img-fluid" id="img2" alt="No image" > 
       <br>
       <h6>Urban Ladder Boston Solid Wood Single Bed  </h6>
       <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
       <h5> ₹16,739</h5></a>
   </div>

   <div class="col-md-3">
       <br>
       <a href="#" class="ads">     <img src="/assets/img/furniture/1bed3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
            <br>
       <h6>Spacewood Engineered Wood Single Box Bed  </h6>
       <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
       <h5> ₹12,500</h5></a>
       </div>


       <div class="col-md-3">
           <br>
           <a href="#" class="ads">     <img src="/assets/img/furniture/1bed7.jpg" class="row1-photo img-thumbnail img-fluid" id="img4" alt="No image" > 
            <br>
           <h6>HomeTown Engineered Wood Single Bed  </h6>
           <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹18,695</h5></a>
           </div>

</div>




<div class="row">

    <div class="col-md-3">
       <br>
       <a href="#" class="ads">      <img src="/assets/img/furniture/1bed1.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
           <br>
           
           <h6 >Spacewood Engineered Wood Single Box Bed </h6>
           
           <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
          <h5> ₹6,790</h5></a>
       </div>
    
    
    
    
    <div class="col-md-3">
       <br>
       <a href="#" class="ads">     <img src="/assets/img/furniture/1bed6.jpg" class="row1-photo img-thumbnail img-fluid" id="img2" alt="No image" > 
           <br>
           <h6>Urban Ladder Boston Solid Wood Single Bed  </h6>
           <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹16,739</h5></a>
       </div>
    
       <div class="col-md-3">
           <br>
           <a href="#" class="ads">     <img src="/assets/img/furniture/1bed3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                <br>
           <h6>Spacewood Engineered Wood Single Box Bed  </h6>
           <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹12,500</h5></a>
           </div>
    
    
           <div class="col-md-3">
               <br>
               <a href="#" class="ads">     <img src="/assets/img/furniture/1bed7.jpg" class="row1-photo img-thumbnail img-fluid" id="img4" alt="No image" > 
                <br>
               <h6>HomeTown Engineered Wood Single Bed  </h6>
               <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
               <h5> ₹18,695</h5></a>
               </div>
    
    </div>
    

</div>
