
            
                          
                    
                        <div class="card-header">

                                
                                <h5>Showing results for Sports</h5>
                        </div>

                        <div class="container">
                                   <div class="row">
                                   <div class="col-md-3" >
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat2.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>Ms Dhoni Spartan Edition </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹999</h4></a>


                                   </div>
                                   <div class="col-md-3">
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat5.jpg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>Just Rider (Full Size) </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹1299</h4></a>


                                   </div>
                                   <div class="col-md-3">
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat3.jpg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>LYCAN Stunner Bigger Edge Full </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹1599</h4></a>


                                   </div>
                                   <div class="col-md-3">
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat4.jpg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>
                                                    SUNLEY Sarthak Men's Hard 
                                                     </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹1799</h4></a>


                                   </div>





                                   </div>


                                 
                                        
     









                        </div>













                
    
              