<div class="container">
    <div class="card">
        <div class="card-body">
    
        <div class="row">
                <div class="col-md-1" >
                    <div class="subimage" id="img1" >
                            <img id = "mainimage" class="img-fluid" src="assets/Phones/mi-redmi-note-7s.jpeg"   alt="mi-redmi-note-7s">
                    </div>
                    <div class="subimage">
                            <img id="feature1" class="img-fluid" src="assets/Phones/note7fea1.jpeg"  alt="mi-redmi-note-7s">
                    </div>
                    <div class="subimage">
                            <img id="feature2" class="img-fluid" src="assets/Phones/note7fea2.jpeg"  alt="mi-redmi-note-7s">
                    </div>
                    <div class="subimage">
                            <img id="feature7" class="img-fluid" src="assets/Phones/notefea3.jpg" alt="mi-redmi-note-7s">
                    </div>
                    <div class="subimage">
                            <img id="feature3" class="img-fluid" src="assets/Phones/note7fea4.jpeg" alt="mi-redmi-note-7s">
                    </div>
                    <div class="subimage">
                            <img id="feature4" class="img-fluid" src="assets/Phones/note7fea6.jpeg"  alt="mi-redmi-note-7s">
                    </div>
                        </div>
                        
            <div class="col-md-5 col-md-offset-2" align="center" id="imagecontainer">
                    <div class="wm-zoom-container my-zoom">
                            <div class="wm-zoom-box">
                                 <img id="maincon" align="center" src="assets/Phones/mi-redmi-note-7s.jpeg" class="img-fluid" data-height-src="assets/Phones/mi-redmi-note-7s.jpeg" height="400px"  alt="mi-redmi-note-7s">
                                 </div>
                    </div><br>
           
          
                </div>
         <div class="col-md-6 col-md-offset-1">
    
    <span><strong>Redmi Note 7S (Sapphire Blue, 64 GB)  (4 GB RAM)</strong></span><br>
    <span class="badge badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                                &nbsp;<span class="ratings">2,34,851 Ratings & 19,024 Reviews</span>
    <br><br>
            <span class="discount">Extra <i class="fa fa-inr" aria-hidden="true"></i>4000 Discount</span>
            <p class="rate"><i class="fa fa-inr" aria-hidden="true"></i> 9,999  <span class="text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 13,999</span>&nbsp;&nbsp;&nbsp;<span class="discount">28% Offer</span></p>
            <div>
                            <img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                            &nbsp;<span class="orderOffer"><span class="bank">Bank Offer</span> 10% Instant Discount on SBI Debit and Credit Cards</span>
                 </div>
                 <div>
                            <img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                            &nbsp;<span class="orderOffer"><span class="bank">Bank Offer</span> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card</span>
                 </div>
                 <div>
                            <img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                            &nbsp;<span class="orderOffer"><span class="bank">Bank Offer</span> Extra 5% off* with Axis Bank Buzz Credit Card</span>
                 </div>
                 <div>
                            <img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                            &nbsp;<span class="orderOffer"><span class="bank">Special Price</span> Extra ₹4000 discount(price inclusive of discount)</span>
                 </div>
                 <div>
                            <img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/49f16fff-0a9d-48bf-a6e6-5980c9852f11.png?q=90" width="18" height="18" class="_3Amlen">
                            &nbsp;<span class="orderOffer"><span class="bank">No cost EMI ₹834/month.</span> Standard EMI also available</span>
                 </div>
                 <div>
                            <img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                            &nbsp;<span class="orderOffer"><span class="bank">Partner Offer</span> Get a 6-month YouTube Premium free trial with any smartphone purchase</span>
                 </div>
                 
         </div>
                
        
         </div>
         <div class="row" id="btn_order">
            <div class="col-md-5"><button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
            <div class="col-md-5 ">  <button type="button"  routerLink="buy" class="btn btn-success">Buy now</button>
            </div>
            </div>
                    
    
    </div>
        </div>
    
    </div>
    <script>
    
    $(document).ready(function(){
        $('.my-zoom').WMZoom();
    });
    
    
    </script>