<div class="container-fluid">
        <div class="row">

                <div class="col-md-3">
                        <a class="ads"href="#">
                        <br><br>
                        <img src="/assets/img/Groceries/5a.jpeg" class="row1-photo"  alt="No image" >
                        <br>
                        <br>
                        <br><br><br>
                        <h6>Rin Detergent Bar  (1000 g, Pack of 4)</h6>
                        <br>
                        <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                       <h4> ₹66</h4></a>
                    </div>
            
            
                
            
                <div class="col-md-3">
                        <br>
                        <a class="ads"href="#">
                        <img src="/assets/img/Groceries/5b.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                        <br><br>
                        <h6>Safewash Gentle Wash Fresh Liquid Detergent (1000 g)</h6>
                        <br>
                        <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                        <h4> ₹210</h4></a>
                    </div>


                    <div class="col-md-3">
                                <br>
                                <a class="ads"href="#">
                                <img src="/assets/img/Groceries/5e.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                                <br><br>
                                <h6>Vanish Oxy Action Stain Remover Fresh Liquid Detergent  (800 ml)</h6>
                                <br>
                                <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                                <h4> ₹175</h4></a>
                            </div>
                            <div class="col-md-3">
                                        <br>
                                        <a class="ads"href="#">
                                        <img src="/assets/img/Groceries/5f.jpeg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                                        <br><br>
                                        <h6>Patanjali Herbal Wash  (2 kg)</h6>
                                        <br><br>
                                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                                        <h4> ₹105</h4></a>
                                    </div>
                    </div>
</div>