#cart-img{
    padding: 10px;
 }
 /* section{
  padding-right:3rem;
}  */
.shadow{
    
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}  
img{
    width: 7rem;
    height: 14rem;
}
/* #title{
    font-size: 1.5rem;
} */
.price{
    
    color: darkgreen; 
}

#img-div{
    
    padding:1rem;
}
/* .footer-align{
    height:2rem;
} */
