<section class="container-fluid">
  <div class="row">
      <div class="col-md-8"  >
              

                      <div class="card mb-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);">
                              <div class="card-header"><h4>My Cart</h4>
                              </div>
                          <div class="row no-gutters">
                            <div class="col-md-3" id="img-div" align="center">
                               <img src="assets/img/cart_img1.jpeg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                              <div class="card-body">
                              <h6 class="card-subtitle mb-2 text-muted float-right">Delivery by:<span style="margin-left:0.5rem">11th Dec</span> </h6>
                             
                                <h4 class="card-title">OPPO A71</h4>
                                <h6 class="card-subtitle mb-2 text-muted float-right">Delivery Charge:<i class="fa fa-inr" style="font-size:14px;margin-left:0.5rem"></i>50</h6>
                                <h6 class="card-title"><i class="fa fa-inr" style="font-size:15px;color:darkgreen"></i><b class="price">9980.00</b></h6><br>
                                <h6 class="card-subtitle mb-2 text-muted">Seller: Seller Name</h6><br>
                                <a href="#" class="btn btn-primary"><i class="fa fa-plus" style="color:#fff"></i>ADD TO WISHLIST</a>
                                <a href="#" class="btn btn-primary" style="margin-left:1rem">REMOVE</a>
                      
                              </div>
                            </div>
                          </div>
                          <div class="card-footer footer-align" style="color:#fff;">
                            <div class="float-right">
                              <a href="#" class="btn btn-primary">PLACE ORDER</a>
                            </div>
                          </div>
                        </div>
                      
                      
      </div>
      <div class="col-md-4">

             
                      <div class="card mb-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);">
                              <div class="card-header"><h3>Price Details</h3></div>
                              <div class="row no-gutters">
                                <div class="col-md-6">
                                      <div class="card-body">
                                      <h6 class="card-title">Product Price</h6><br>
                                      <h6 class="card-title">Delivery Charge</h6>
                                  </div>
                                </div>
                                <div class="col-md-4 offset-md-2">
                                  <div class="card-body">
                                          <h6 class="card-title"><i class="fa fa-inr" style="font-size:14px;color:darkgreen"></i><span class="price">9980.00</span></h6><br>
                                          <h6 class="card-title"><i class="fa fa-inr" style="font-size:14px;color:darkgreen"></i><span class="price">50.00</span></h6>
                                  </div>
                                </div>
                              </div>
              
                              
                              <div class="card-footer bg-transparent border-success">
                                      <div class="row no-gutters">
                                              <div class="col-md-5">
                                                  <div class="card-body">
                                                    <h6 class="card-title">Total Payable</h6>
                                                  </div> 
                                              </div>
                                              <div class="col-md-4 offset-md-3">
                                                <div class="card-body">
                                                        <h6 class="card-title"><i class="fa fa-inr" style="font-size:20px;color:darkgreen"></i><b class="price">10040.00</b></h6>
                                                       
                                                </div>
                                              </div>
                                            </div>
                              </div>
                            </div><br><br>
              <h6 class="text-muted" align="center">Safe and Secure Payments.Easy returns.100% Authentic products</h6>
            
      </div>
  </div>
<!-- <section id="#section1">

<div class="card mb-3" style="max-width: 900px;">
      <div class="card-header" style="Background-color:#3f93e8;color:#fff"><h2>My Cart</h2>
      </div>
  <div class="row no-gutters">
    <div class="col-md-4" id="cart-img" id="img-div">
       <img src="assets/cart_img1.jpeg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">OPPO A71</h4>
       
        <h5 class="card-title"><i class="fa fa-inr" style="font-size:24px;color:darkgreen"></i><b id="price">9940</b></h5>
        <h6 class="card-subtitle mb-2 text-muted">Delivery by #date</h6><br><br>
        <a href="#" class="btn btn-primary">ADD TO WISHLIST</a>
        <a href="#" class="btn btn-primary" style="margin-left:1rem">REMOVE</a>

      </div>
    </div>
  </div>
</div>
</section> -->

<!-- <section id="#section2">
      <div class="card mb-3" style="max-width: 540px;">
              <div class="card-header" style="Background-color:#3f93e8;color:#fff"><h2>Price Details</h2></div>
              <div class="row no-gutters">
                <div class="col-md-6">
                      <div class="card-body">
                      <h5 class="card-title">Product Price</h5>
                      <h5 class="card-title">Delivery Charge</h5>
                  </div>
                </div>
                <div class="col-md-3 offset-md-3">
                  <div class="card-body">
                          <h5 class="card-title"><i class="fa fa-inr" style="font-size:24px;color:darkgreen"></i><i id="price">9980</i></h5>
                          <h5 class="card-title"><i class="fa fa-inr" style="font-size:24px;color:darkgreen"></i><i id="price">50</i></h5>
                  </div>
                </div>
              </div>

              
              <div class="card-footer bg-transparent border-success">
                      <div class="row no-gutters">
                              <div class="col-md-4">
                                    <h5 class="card-title">Total Payable</h5>
                                    
                              </div>
                              <div class="col-md-3 offset-md-5">
                                <div class="card-body">
                                        <h5 class="card-title"><i class="fa fa-inr" style="font-size:24px;color:darkgreen"></i><i id="price">10040</i></h5>
                                       
                                </div>
                              </div>
                            </div>
              </div>
            </div>

</section> -->
</section>