   
 <div class="card-header" >
        
    <h5>Showing results for Double-Bed</h5>

</div>



<div class="container-fluid">

<div class="row">

   <div class="col-md-3" >
       <br>
       <a href="#" class="ads">    <img src="/assets/img/furniture/2bed1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
           <br>
           
           
           <h6>Flipkart Perfect Homes Carol Queen Bed  </h6>
           <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
          <h5> ₹7,990</h5></a>
       </div>


   

   <div class="col-md-3">
       <br>
       <a href="#" class="ads">    <img src="/assets/img/furniture/2bed2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
           <br>
           <h6>Flipkart Perfect Homes Rhapsody Engineered Wood Queen Bed  </h6>
           <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹10,490</h5></a>
       </div>

       <div class="col-md-3">
           <br>
           <a href="#" class="ads">  <img src="/assets/img/furniture/2bed3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                <br>
           <h6>Spacewood Mayflower Engineered Wood King Box Bed  </h6>
           <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹13,990</h5></a>
           </div>


           <div class="col-md-3">
               <br>
               <a href="#" class="ads">    <img src="/assets/img/furniture/2bed4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                <br>
               <h6>FurnitureKraft Nancy Metal King Bed  (Finish Color - Black)</h6>
               <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
               
               <h5> ₹5,490</h5></a>
               </div>

</div>



<div class="row">

    <div class="col-md-3" >
        <br>
        <a href="#" class="ads">    <img src="/assets/img/furniture/2bed1.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            
            
            <h6>Flipkart Perfect Homes Carol Queen Bed  </h6>
            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
           <h5> ₹7,990</h5></a>
        </div>
 
 
    
 
    <div class="col-md-3">
        <br>
        <a href="#" class="ads">    <img src="/assets/img/furniture/2bed2.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
            <br>
            <h6>Flipkart Perfect Homes Rhapsody Engineered Wood Queen Bed  </h6>
            <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹10,490</h5></a>
        </div>
 
        <div class="col-md-3">
            <br>
            <a href="#" class="ads">  <img src="/assets/img/furniture/2bed3.jpg" class="row1-photo img-thumbnail img-fluid" alt="No image" > 
                 <br>
            <h6>Spacewood Mayflower Engineered Wood King Box Bed  </h6>
            <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
            <h5> ₹13,990</h5></a>
            </div>
 
 
            <div class="col-md-3">
                <br>
                <a href="#" class="ads">    <img src="/assets/img/furniture/2bed4.jpg" class="row1-photo img-thumbnail img-fluid"  alt="No image" > 
                 <br>
                <h6>FurnitureKraft Nancy Metal King Bed  (Finish Color - Black)</h6>
                <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                
                <h5> ₹5,490</h5></a>
                </div>
 
 </div>


</div>
