<div class="card">
    
    <h2 class="card-header" >Personal Details</h2>
   

    <div class="Photo-nme">

      
        <form class="frm">
               
               
                <div class="form-group">
                        <label for="exampleFormControlInput0">First name :</label>   
                        <input type="text" class="form-control"  placeholder="First name">
                       
                       
                      </div>
                      <br>

                      <div class="form-group">
                            <label for="exampleFormControlInput0">Last name :</label>
                            <input type="text" class="form-control"  placeholder="Last name">
                            
                          </div>
                          
                          <br>
                          <div class="form-group">
                                <label for="exampleFormControlInput1">Phone Number :</label>   
                                <input type="number" class="form-control"  placeholder="+91-9876543210">
                                
                               
                              </div>
                              <br>

          </form>

          <form class="frm1">

                     
              <div class="form-group-col2">
                <label for="exampleFormControlInput2">Email address :</label> 
                <input type="email" class="form-control"  placeholder="name@example.com">
               
              </div>
              <br>
  
              
              <div class="form-group-col2">
                <label for="exampleFormControlTextarea1">Address :</label> 
                <textarea class="form-control"  placeholder="Address"></textarea>
                
              
            </div>
              <br>
          </form>
        </div>
        

          <div class="text">

            <h4>FAQs</h4>

            <h6>What happens when I update my email address (or mobile number)?</h6>
            <br>
            <p>Your login email id (or mobile number) changes, likewise. You'll receive all your account related communication on your updated email address (or mobile number).</p>
            <br>

            <h6>When will my Cartsly account be updated with the new email address (or mobile number)?</h6>
            <br>
            <p>It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.</p>
            <br>


            <h6>What happens to my existing Cartsly account when I update my email address (or mobile number)?</h6>
            <br>
            <p>Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully functional. You'll continue seeing your Order history, saved information and personal details.</p>
            <br>


            <h6>Does my Seller account get affected when I update my email address?</h6>
            <br>
            <p>Cartsly has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</p>


          </div>
   
<a href="#" class="btn btn-primary"   >Delete Account</a>

<footer >
    <img src="/assets/img/foot1.png" alt="No image" class="foot">
</footer>


</div>