

<nav class="navbar navbar-expand-lg navbar-light  navdesi" >
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-md-6 offset-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Electronics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h5 class="dropdown-item"  >Mobiles</h5>
                  <a class="dropdown-item navdisplay"  routerLink="electronics/samsung">Samsung</a>
                  <a class="dropdown-item navdisplay" routerLink="electronics/mi">Mi</a>

                  <h5 class="dropdown-item">Laptops</h5>
                  <a class="dropdown-item navdisplay"  routerLink="electronics/hp">Hp</a>
                  <a class="dropdown-item navdisplay" routerLink="electronics/del">Dell</a>
                  
                  <h5 class="dropdown-item">Home Appliances</h5>
                  <a class="dropdown-item navdisplay"  routerLink="electronics/fridge">Fridge</a>
                  <a class="dropdown-item navdisplay" routerLink="electronics/wm">Washing Machine</a>
                  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fashion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h5 class="dropdown-item">Women</h5>
                  <a class="dropdown-item navdisplay"  routerLink="fashion/women-clothing">Clothing</a>
                  <a class="dropdown-item navdisplay" routerLink="fashion/women-accessories">Accessories</a>
                  <a class="dropdown-item navdisplay" routerLink="fashion/women-footwear">Footwear</a>

                  <h5 class="dropdown-item">Men</h5>
                  <a class="dropdown-item navdisplay"  routerLink="fashion/men-clothing">Clothing</a>
                  <a class="dropdown-item navdisplay" routerLink="fashion/men-accessories">Accessories</a>
                  <a class="dropdown-item navdisplay" routerLink="fashion/men-footwear">Footwear</a>
                  
                  <h5 class="dropdown-item">Kids</h5>
                  <a class="dropdown-item navdisplay"  routerLink="fashion/kids-clothing">Clothing</a>
                  <a class="dropdown-item navdisplay" routerLink="fashion/kids-accessories">Accessories</a>
                  <a class="dropdown-item navdisplay" routerLink="fashion/kids-footwear">Footwear</a>
                  <hr>
                  <h5 class="dropdown-item">Cosmetics</h5>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Books
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Furniture
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h5 class="dropdown-item">Table</h5>
                  <a class="dropdown-item navdisplay"  routerLink="furniture/dining-table">Dining Table</a>
                  <a class="dropdown-item navdisplay" routerLink="furniture/study-table">Study Table</a>

                  <h5 class="dropdown-item">Bed</h5>
                  <a class="dropdown-item navdisplay"  routerLink="furniture/single-bed">Single Bed</a>
                  <a class="dropdown-item navdisplay" routerLink="furniture/double-bed">Double Bed</a>
                  
                  <h5 class="dropdown-item">Chair</h5>
                  <a class="dropdown-item navdisplay"  routerLink="furniture/office-chair">Office Chair</a>
                  <a class="dropdown-item navdisplay" routerLink="furniture/home-chair">Home Chair</a>
                  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h5 class="dropdown-item"  >Cricket</h5>
                  <a class="dropdown-item navdisplay"  routerLink="sports/cricket-bat">Cricket Bat</a>
                  <a class="dropdown-item navdisplay" routerLink="sports/cricket-kits">Cricket Kits</a>

                  <h5 class="dropdown-item">Badminton</h5>
                  <a class="dropdown-item navdisplay"  routerLink="sports/badminton-racquets">Badminton racquets</a>
                  <a class="dropdown-item navdisplay" routerLink="sports/badminton-shuttles">Badminton Shuttles</a>
                  
                  <h5 class="dropdown-item">Cycling</h5>
                  <a class="dropdown-item navdisplay"  routerLink="sports/cycles">Cycles</a>
                  <a class="dropdown-item navdisplay" routerLink="sports/cycling-accessories">Cycle Accessories</a>
                  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Groceries
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h5 class="dropdown-item">Cleanser</h5>
                  <a class="dropdown-item navdisplay"  routerLink="groceries/soap">Soap</a>
                  <a class="dropdown-item navdisplay"  routerLink="groceries/Shampoos">Shampoos</a>

                  <h5 class="dropdown-item">Eatables</h5>
                  <a class="dropdown-item navdisplay"  routerLink="groceries/Snacks">Snacks & Bevrages </a>
                  <a class="dropdown-item navdisplay" routerLink="groceries/Packedfood">Paked Food</a>
                  
                  <h5 class="dropdown-item">Household care</h5>
                  <a class="dropdown-item navdisplay"  routerLink="groceries/Detergents">Detergents & Laundry</a>
                  <a class="dropdown-item navdisplay" routerLink="groceries/Repellants">Repellants & Fresheners</a>
                  
                </div>
              </li>
          </ul>
      </div>
    </div>
  </nav>