<h3>Badminton Shuttles</h3><hr>

<div class="row">
    <div class="col-md-3" >
         <a href="#" class="ads">      <img src="/assets/img/sports/shuttle1.jpeg" class="row1-photo img-fluid day "   alt="No image" > 
             <br>
             <br>
             
             <h6>Konex Shuttlecocks </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹499</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/s2.jpeg" class="row1-photo img-fluid day "  alt="No image" > 
             <br>
             <br>
             
             <h6>Marvel Feather Original </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹699</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/s3.jpeg" class="row1-photo img-fluid "  alt="No image" > 
             <br>
             <br>
             
             <h6>Li-Ning XP 710, Pack of 2  </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹1399</h4></a>


    </div>
    <div class="col-md-3">
         <a href="#" class="ads">      <img src="/assets/img/sports/shuttle11.jpeg" class="row1-photo img-fluid "  alt="No image"  > 
             <br>
             <br>
             
             <h6>
                   Medium Nylon Shuttlecocks
                      </h6>
             
             <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹299</h4></a>


    </div>





    </div>
